@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string clr = "";
    string MyGuid = EncryptDecrypt.Decrypt(Request.QueryString["m_id"]);
    sgenFun sgen = new sgenFun(MyGuid); string mandatory = "sa-mandatory";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    string userCode = sgen.GetCookie(MyGuid, "userCode");
    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();

    #region buttons
    string buttons = "";
    buttons += "<div class='col-md-8'>" +
"        <div class='row'>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vnew + " formnovalidate id='btnnew' name='command' value='New' accesskey='N'><u>N</u>ew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vedit + " id='btnedit' name='command' value='Edit' accesskey='I' onclick='editfun();'>Ed<u>i</u>t</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
//"            <div class='col-sm-2'> " +
//"                <div class='form-group'>" +
//"                    <div class='input-group'>" +
//"                        <button type='submit' class='btn btn-success form-control sa-button' " + ViewBag.vsave + " id='btnsave' name='command' value= '" + Model[0].Col13 + "' accesskey = '" + Model[0].Col121 + "' > " + Html.Raw(Model[0].Col122) + "</button>" +
//"                        <span class='input-group-addon formclass'></span>" +
//"                    </div>" +
//"                </div>" +
//"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='form-control sa-button btn btn-primary' " + ViewBag.vsave + " id='btnprint' name='command' value='Print' accesskey='P'><u>P</u>rint</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='form-control sa-button btn btn-primary' id='btnreprint' onclick='printfun();' name='command' value='Reprint' accesskey='R'><u>R</u>eprint</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='form-control sa-button sa-btncancel' formnovalidate id='btncancel' name='command' value='Cancel' accesskey='C'><u>C</u>ancel</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"                </div>" +

"        </div>" +
"    </div>";
    #endregion
}
<style>
    a.cke_path_item, span.cke_path_empty {
        color: #f8f8f8 !important;
    }
</style>
<script src="/Scripts/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3 id="hd_title">@Model[0].Col9</h3>
                    </div>

                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        @Html.Raw(buttons)
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">

                        <div class="col-sm-4">
                            <label for="first-name">
                                Letter No.<span class="ClientProfileLabelColor">*</span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col24, new { @id = "txtltno", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", placeholder = "Letter No." })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="first-name">
                                Letter Date<span class="ClientProfileLabelColor">*</span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col25, new { @id = "txtltdt", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date sa-mandatory", placeholder = "Letter Date" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="first-name">
                                Employee name<span class="ClientProfileLabelColor">*</span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col18, new { @id = "empname", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", placeholder = "Employee Name", @onkeydown = "return false;" })
                                    @Html.HiddenFor(model => model[0].Col19, new { @id = "empcode" })
                                    @Html.HiddenFor(model => model[0].Col23, new { @id = "fstr" })
                                    @Html.HiddenFor(model => model[0].Col16, new { @id = "vch_num" })
                                    <span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select Employee" id="spn_add" onclick="selectparty(this);"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="first-name">
                                Department<span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col22, new { @id = "txtdpt", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Department", @readonly = "true" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="first-name">
                                Designation<span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col21, new { @id = "txtdsg", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Designation", @readonly = "true" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="first-name">
                                Select Templete<span class="ClientProfileLabelColor">*</span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col26, new { @id = "tempname", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", placeholder = "Templete Name", @onkeydown = "return false;" })
                                    @Html.HiddenFor(model => model[0].Col27, new { @id = "temcode" })
                                    <span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select Templete" id="spn_add" onclick="selecttemp(this);"><i class="fa fa-search"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="Emp">
                        <div class='col-sm-12'>
                            <label for="first-name">Text<span class="ClientProfileLabelColor"></span></label><br />
                            <label for="first-name" style="background-color:yellow">
                                Choose Variables [name] for Employee Name, [fname] for Father Name, [mobile] Mobile No.,
                                [email] for Email ID, [add] for Address, [deprtment] for Department,[designation] for Designation,[gearn_y] for Gross Earning Yearly
                                , [gearn_m] for Gross Earning Monthly, [doj] For Joinig Date, [dob] for Date Of Birt, [dol] for Date Of Leave<span class="ClientProfileLabelColor"></span>
                            </label>

                            <span class="input-group-addon formclass"></span>
                            <div class="form-group">
                                <div class='input-group'>

                                    @Html.TextAreaFor(model => model[0].Col20, new { @id = "txt_bodytext", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @cols = 80, @Rows = 4 })
                                    <script>
                                        CKEDITOR.replace("txt_bodytext");
                                    </script>
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                            <label id="lbl_full_msg" for="first-name" style="color:red"><span class="ClientProfileLabelColor"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    {
        @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
        @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
        @Html.HiddenFor(model => model[0].Col121, new { @id = "Update" })
        @Html.HiddenFor(model => model[0].Col122, new { @id = "Save" })
        @Html.HiddenFor(model => model[0].Col123, new { @id = "savenew" })
    }
    <input type="submit" id="callback1" formnovalidate value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}

@Styles.Render("~/bundles/updcss")
@Scripts.Render("~/bundles/updjs")
<script type="text/javascript">
    $(document).ready(function () {
        @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');

    });
    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'DETAIL', '0', '@viewName', '@controllerName'); }

    function selectparty() { var data = show_Foo('Select Employee', 'EMP', '1', '@viewName', '@controllerName'); }
    function selecttemp() { var data = show_Foo('Select Templete', 'TMP', '1', '@viewName', '@controllerName'); }
    function printfun() { var data = show_Foo('Select Templete To Print', 'REPRINT', '1', '@viewName', '@controllerName'); }
</script>
