@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{ string MyGuid = "";
    MyGuid = Model[0].Col15;
    sgenFun sgen;
    sgen = new sgenFun(MyGuid);
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
    string buttons = "";
    buttons += "<div class='col-md-8 '>" +
"        <div class='row'>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vnew + " id='btnnew' onclick='setTableDatat();PARTY();' name='command' value='New' accesskey='N'><u>N</u>ew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vedit + " id ='btnedit' onclick='setTableDatat();editfun();' name='command' value='Edit' accesskey='I'>Ed<u>i</u>t</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        " + Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" }) + " " +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsave + " id ='btnsave' onclick='setTableDatat();' name='command' value= '" + Model[0].Col13 + "' accesskey = '" + Model[0].Col121 + "' > " + Html.Raw(Model[0].Col122) + " </button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsavenew + " id ='btnsavenew' onclick='setTableDatat();' name='command' value= '" + Model[0].Col100 + "' accesskey ='W'> " + Html.Raw(Model[0].Col123) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' onclick='setTableDatat();viewfun();' id='btndetail' name='command' value='View' accesskey='V'><u>V</u>iew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='sa-btncancel form-control sa-button' formnovalidate onclick='setTableDatat();' id='btncancel' name='command' value='Cancel' accesskey='C'><u>C</u>ancel</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"        </div>" +
"    </div>";
}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        @Html.Raw(buttons)
    </div>

    <div class="clearfix"></div>
    @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
    @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
    @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
    @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
    @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
    @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
    @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
    @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })
    @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
    @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
    @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
    @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
    @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
    @Html.HiddenFor(model => model[0].Col121, new { @id = "Update" })
    @Html.HiddenFor(model => model[0].Col122, new { @id = "Save" })
    @Html.HiddenFor(model => model[0].Col123, new { @id = "savenew" })
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="clearfix"></div>
                <div class="x_content">
                    <div class="row">
                        <div class='col-sm-4'>
                            <label for="first-name">Doc No.</label>
                            <div class="form-group">
                                <div class='input-group demo2'>
                                    @Html.TextBoxFor(model => model[0].Col16, new { @id = "Txt_VchNo", @Readonly = "ture", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Doc. No." })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">Client Name<span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col17, new { @id = "Col17", @ReadOnly = "true", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Client Name" })
                                    @Html.HiddenFor(model => model[0].Col18, new { @id = "Col18" })
                                    <span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select Client" id="spn_acc" onclick="PARTY();"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">
                                Address<span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col19, new { @id = "txt_party_add", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox ", placeholder = "Client Address", @ReadOnly = "true" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-4'>
                            <label for="first-name">
                                Service / Area<span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col20, new { @id = "txt_area", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox ", placeholder = "Service / Area", @ReadOnly = "true" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">Assignment Name</label>
                            <div class="form-group">
                                <div class='input-group demo2'>
                                    @Html.DropDownListFor(model => model[0].SelectedItems1, new MultiSelectList(Model[0].TList1, "Value", "Text", Model[0].SelectedItems1), new { multiple = "multiple", @id = "ddl_assname", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">Financial Year</label>
                            <div class="form-group">
                                <div class='input-group demo2'>
                                    @Html.DropDownListFor(model => model[0].SelectedItems2, new MultiSelectList(Model[0].TList2, "Value", "Text", Model[0].SelectedItems2), new { multiple = "multiple", @id = "ddl_fyear", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-4'>
                            <label for="first-name">Period</label>
                            <div class="form-group">
                                <div class='input-group demo2'>
                                    @Html.TextBoxFor(model => model[0].Col22, new { @id = "txt_period", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox ", placeholder = "Period" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">Team Leader<span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col23, new { @id = "Col23", @ReadOnly = "true", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "TL Name" })
                                    @Html.HiddenFor(model => model[0].Col24, new { @id = "Col24" })
                                    <span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select TL" id="spn_acc2" onclick="TL();"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">
                                Department<span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col25, new { @id = "txt_dept", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox ", placeholder = "Department", @ReadOnly = "true" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-4'>
                            <label for="first-name">
                                Designation<span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col26, new { @id = "txt_desig", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox ", placeholder = "Designation", @ReadOnly = "true" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">
                                Start Date<span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col27, new { @id = "txt_stdt", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date", placeholder = "Start Date" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">
                                End Date<span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col28, new { @id = "txt_endt", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date", placeholder = "End Date" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>

                        </div>
                        </div>
                    <div class="row">
                        <div class='col-sm-4'>
                            <label for="first-name">Project Group Code</label>
                            <div class="form-group">
                                <div class='input-group demo2'>
                                    @Html.TextBoxFor(model => model[0].Col21, new { @id = "txt_pcoede", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })

                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="first-name">Status<span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.RadioButtonFor(model => model[0].Col29, "0", new { @id = "Rbt_act", @class = " sa-input radio", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top:0px;" })
                                    <b style="padding-top:12px">Active </b>
                                    @Html.RadioButtonFor(model => model[0].Col29, "1", new { @id = "Rbt_inc", @class = " sa-input radio", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                    <b style="padding-top:12px">Inactive </b>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr />
                    <div class="clearfix"></div>
                    <style>

                        .datepicker.dropdown-menu {
                            z-index: 99999 !important
                        }

                        .bootstrap-datetimepicker-widget.dropdown-menu {
                            overflow: visible;
                            height: 100%;
                        }
                    </style>
                    @if (Model.Count < 1)
                    { }
                    else
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            DataTable dtm = Model[i].dt1;
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel" style="padding: 3px 15px !important">

                                    <div class="x_content">
                                        <div class="row">
                                            <h5>Select Team Members</h5>
                                            <div class="grid-container">
                                                <div class="grid">

                                                    @try
                                                    {
                                                        foreach (DataColumn dc in dtm.Columns)
                                                        {
                                                            int mlength = 20;
                                                            try
                                                            {
                                                                mlength = dtm.Select("[" + dc.ColumnName + "] = MAX([" + dc.ColumnName + "])")[0][dc.ColumnName].ToString().Length;
                                                            }
                                                            catch (Exception err) { }
                                                            int k = 0;
                                                            if (dc.Ordinal == 0)
                                                            {
                                                                <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:70px;z-index:10;left:0px;position:sticky;">
                                                                    <div class="grid-item grid-item--header">
                                                                        <p>@dc.ColumnName.ToString()</p>
                                                                    </div>

                                                                    @foreach (DataRow dr in dtm.Rows)
                                                                    {
                                                                        <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' data-sakeys="gloval">
                                                                            <input name="command" onclick="sethfval('@k');getitem();" type="button" value="+" style="max-height: 20px;padding-top: 0px;" class="btn btn-info btn-sm" formnovalidate data-toggle="tooltip" title="Add More" />
                                                                            <input name="command" onclick="sethfval('@k');" type="submit" value="-" style="max-height: 20px;padding-top: 0px;" class="btn btn-info btn-sm" formnovalidate data-toggle="tooltip" title="Hide" />
                                                                            <input type="hidden" value="@dr[dc].ToString()" id="fstr_@dc.Ordinal" />
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                            else if (dc.Ordinal == 1)
                                                            {
                                                                <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:@(mlength * 8)px">
                                                                    <div class="grid-item grid-item--header">
                                                                        <p>@dc.ColumnName.ToString()</p>
                                                                    </div>

                                                                    @foreach (DataRow dr in dtm.Rows)
                                                                    {
                                                                        <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' data-sakeys="gloval">
                                                                            <label>@(k + 1)</label>
                                                                        </div>
                                                                        k++;
                                                                    }
                                                                </div>
                                                            }
                                                            else if (dc.Ordinal == 2)
                                                            {
                                                                <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:200px;z-index:10;left:100px">
                                                                    <div class="grid-item grid-item--header">
                                                                        <p>@dc.ColumnName.ToString()</p>
                                                                    </div>
                                                                    @foreach (DataRow dr in dtm.Rows)
                                                                    {
                                                                        <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="false" data-sakeys="gloval">
                                                                            @dr[dc].ToString()
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                            else if (dc.Ordinal == 3)
                                                            {
                                                                <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:250px;z-index:10;left:100px">
                                                                    <div class="grid-item grid-item--header">
                                                                        <p>@dc.ColumnName.ToString()</p>
                                                                    </div>
                                                                    @foreach (DataRow dr in dtm.Rows)
                                                                    {
                                                                        <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="false" data-sakeys="gloval">
                                                                            @dr[dc].ToString()
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                            else if (dc.Ordinal == 4)
                                                            {
                                                                <div class="grid-col" id="col_@dc.Ordinal" style="width:200px;left:100px;position:sticky; z-index: 2;background: white;">
                                                                    <div class="grid-item grid-item--header">
                                                                        <p>@dc.ColumnName.ToString()</p>
                                                                    </div>
                                                                    @foreach (DataRow dr in dtm.Rows)
                                                                    {
                                                                        <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' name="txtqty" contenteditable="false" data-sakeys="gloval">
                                                                            @dr[dc].ToString()
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                            else if (dc.Ordinal == 5)
                                                            {
                                                                <div class="grid-col" id="col_@dc.Ordinal" style="width:250px;left:100px;position:sticky; z-index: 2;background: white;">
                                                                    <div class="grid-item grid-item--header">
                                                                        <p>@dc.ColumnName.ToString()</p>
                                                                    </div>
                                                                    @foreach (DataRow dr in dtm.Rows)
                                                                    {
                                                                        <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="false">
                                                                            @dr[dc].ToString()
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="grid-col" id="col_@dc.Ordinal" style="width:@(mlength * 8)px">
                                                                    <div class="grid-item grid-item--header">
                                                                        <p>@dc.ColumnName.ToString()</p>
                                                                    </div>
                                                                    @foreach (DataRow dr in dtm.Rows)
                                                                    {
                                                                        <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="false" data-sakeys="gloval">
                                                                            @dr[dc].ToString()
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                    catch (Exception err)
                                                    {

                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="hfrow" id="hfrow" />
    <input type="hidden" name="hftable" id="hftable" />
    <input type="submit" id="callback1" value="Callback" onclick="setTableDatat();" formnovalidate name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}

<script>
    $(document).ready(function () {
             @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
        setTableDatat();
    })
     function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'DETAIL', '0', '@viewName', '@controllerName'); }
        function TL() { var data = show_Foo('Select Team Leader', 'TL', '1', '@viewName', '@controllerName'); }
      function PARTY() { var data = show_Foo('Select Client', 'PARTY', '1', '@viewName', '@controllerName'); }
    function setTableDatat() {
        try {
            datatable = new Array();
            var heads = $("[id*=col_]");
            var rows = $(heads).eq(0).find("[id*=row_]");
            for (var r = 0; r < rows.length; r++) {
                var row = $("[id=row_" + r + "]");
                var arr = new Array();
                for (var h = 0; h < heads.length; h++) {
                    var obj = {};
                    var vall = "";
                    vall = row[h].innerText;
                    if (vall == undefined) {
                        vall = "";
                    }
                    obj[heads[h].children[0].innerText] = vall;
                    arr.push(obj);
                }
                datatable.push(arr);
            }
        }
        catch (err) { alert(err); return; }
        $("#hftable").val(JSON.stringify(datatable));
    }
    function sethfval(val) {
        $("#hfrow").val(val);
        setTableDatat();
    }
        function getitem() {
        var icode = "", chkcode = "", ptype = "";
        $(".sa-input").attr("onclick", "return false;");
        var heads = $("[id*=col_]");
        var rows = $(heads).eq(0).find("[id*=row_]");
        for (var r = 0; r < rows.length; r++) {
            var row = $("[id=row_" + r + "]");
            chkcode = row.eq(0).find("[id*=fstr]").val().trim();
            if (chkcode != "-" && chkcode != "") {
                icode = icode + chkcode + ",";
            }
        }
        var data = show_Foo('Select Items', 'EMP', '2', '@viewName', '@controllerName', icode, ptype);
    }
</script>


