@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    String MyGuid = EncryptDecrypt.Decrypt(Request.QueryString["m_id"]);
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    sgenFun sgen = new sgenFun(Model[0].Col15);
    string userCode = sgen.GetCookie(Model[0].Col15, "userCode");

    var viewName = sgen.GetSession(Model[0].Col15, "viewName").ToString();
    var controllerName = sgen.GetSession(Model[0].Col15, "controllerName").ToString();
    #region buttons
    string buttons = "";
    buttons += "<div class='col-md-8'>" +
"        <div class='row'>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vnew + " formnovalidate id='btnnew' name='command' value='New' accesskey='N'><u>N</u>ew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vedit + " id='btnedit' name='command' value='Edit' accesskey='I' onclick='editfun();'>Ed<u>i</u>t</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'> " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsave + " id='btnsave' name='command' value= '" + Model[0].Col13 + "' accesskey = '" + Model[0].Col121 + "' > " + Html.Raw(Model[0].Col122) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'> " +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsavenew + " id='btnsavenew' name='command' value= '" + Model[0].Col100 + "' accesskey ='W'> " + Html.Raw(Model[0].Col123) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' id='btndetail' name='command' value='View' accesskey='V' onclick='viewfun();'><u>V</u>iew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='form-control sa-button sa-btncancel' formnovalidate id='btncancel' name='command' value='Cancel' accesskey='C'><u>C</u>ancel</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"        </div>" +
"    </div>";
    #endregion
}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3 id="hd_title">@Model[0].Col9</h3>
                    </div>

                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        @Html.Raw(buttons)
    </div>

    <div class="clearfix"></div>
    for (int i = 0; i < Model.Count; i++)
    {
        <div class=" clearfix"></div>
        @Html.HiddenFor(model => model[i].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[i].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[i].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[i].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[i].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[i].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[i].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[i].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[i].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[i].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[i].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[i].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[i].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[i].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[i].Col15, new { @id = "hf_m_id" })
        @Html.HiddenFor(model => model[i].Col23, new { @id = "vch_num" })
        @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
        @Html.HiddenFor(model => model[0].Col121, new { @id = "Update" })
        @Html.HiddenFor(model => model[0].Col122, new { @id = "Save" })
        @Html.HiddenFor(model => model[0].Col123, new { @id = "savenew" })
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="first-name">
                                Doc No. <span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>

                                    @Html.TextBoxFor(model => model[i].Col16, new { @id = "txt_VchNo", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @readonly = true, data_placeholder = "Doc No." })


                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="first-name">
                                Doc Date <span class="ClientProfileLabelColor">*</span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>

                                    @Html.TextBoxFor(model => model[i].Col17, new { @id = "Txt_VchDt", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-ac-date ", data_placeholder = "Doc Date." })


                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="first-name">
                                Education Category <span class="ClientProfileLabelColor">*</span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[i].Col18, new { @id = "Txt_Master", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory ", @MaxLength = "98", data_placeholder = " Education Category" })


                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="first-name">
                                Class Start Time <span class="ClientProfileLabelColor">*</span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>

                                    @Html.TextBoxFor(model => model[i].Col19, new { @id = "time_from", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-ac-time sa-mandatory", data_placeholder = " Class Start Time " })
                                    @* <asp:TextBox ID="time_from" runat="server" CssClass="form-control sa-textbox sa-ac-time"></asp:TextBox>*@
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="first-name">
                                Class Hours <span class="ClientProfileLabelColor">*</span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>

                                    @Html.TextBoxFor(model => model[i].Col20, new { @id = "txt_totalhrs", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory ", data_placeholder = "  Class Hours ", @MaxLength = "2", @onkeyup = "return Txtchange();", @onkeypress = "return isNumberKey(event)" })
                                    @*<asp:TextBox ID="txt_totalhrs" runat="server" MaxLength="2" onkeyup="return Txtchange();" onkeypress="return isNumberKey(event)" CssClass="form-control sa-textbox"></asp:TextBox>*@
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="first-name">
                                Class End Time <span class="ClientProfileLabelColor">*</span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>

                                    @Html.TextBoxFor(model => model[i].Col21, new { @id = "time_to", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory ", data_placeholder = "  Class End Time" })
                                    <asp:TextBox ID="time_to" runat="server" onkeydown="return false;" CssClass="form-control sa-textbox"></asp:TextBox>
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="first-name">
                                Status <span class="ClientProfileLabelColor"></span>
                            </label>
                            <div class="form-group">
                                <div class='input-group'>

                                    <b style="margin-right:5px">Active</b>
                                    @Html.RadioButtonFor(model => model[i].Col22, "Y", new { @id = "Rbt_Ac", @class = " sa-input radio sa-mandatory", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                    @*<input type="radio" clientidmode="Static" runat="server" value="1" id="Rbt_Ac" checked class="sa-input radio" name="rdb1" />
                                        <asp:Label ID="rd_a" runat="server" Text="     Active      "></asp:Label>*@
                                    <b style="margin-right:5px; margin-left:5px">Inactive</b>
                                    @Html.RadioButtonFor(model => model[i].Col22, "N", new { @id = "Rbt_da", @class = " sa-input radio sa-mandatory", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })

                                    <span class="input-group-addon formclass"></span>


                                    @* @Html.RadioButtonFor(model => model[i].Col15, "2", new { @id = "Rbt_da", @class = " sa-input radio sa-mandatory", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })*@
                                    @*<input type="radio" clientidmode="Static" runat="server" value="2" id="Rbt_da" class="sa-input radio" name="rdb1" />
                                        <asp:Label ID="rd_ia" runat="server" Text="     In Active       "></asp:Label>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <input type="submit" id="callback1" formnovalidate value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}
<script type="text/javascript">
  //  debugger;
    $(document).ready(function () {
        @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
    });


    function checkrefcode(ctrl) {
      //  debugger;
        var obj = { "value": $(ctrl).val() };
        var res = myMethod(@controllerName,@viewName, "checkrefcode", obj, ctrl);
    }

    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'VIEW', '0', '@viewName', '@controllerName'); }

    function Txtchange() {
      // debugger;

        //var txtstart = document.getElementById('<%= time_from.ClientID%>').value;
        var txtstart = $("[id*=time_from]")[0].value;
        var hf_m_id = $("[id*=hf_m_id]")[0].value;

        //var txthrs = document.getElementById('<%= txt_totalhrs.ClientID%>').value;
        var txthrs = $("[id*=txt_totalhrs]")[0].value;

        //var txtend = document.getElementById('<%= time_to.ClientID%>');
        var txtend = $("[id*=time_to]")[0];

        if (parseFloat(txthrs) > 24) {
            // alert("Class Hours Cant Be Greater Than 24");
            showmsgJS(1, "Class Hours Cant Be Greater Than 24", 2);
            ContentPlaceHolder1_txt_totalhrs.value = 24;
            return;
        }

        var dateformat = getCookie(hf_m_id,"dateformat");
        var timeformat = getCookie(hf_m_id,"timeformat");
        var datetimeformat = getCookie(hf_m_id,"datetimeformat");


        var idealtime = moment(moment().format(dformat(dateformat)) + " " + txtstart.trim(), dformat(datetimeformat)).add(txthrs, 'hours');
        txtend.value = idealtime.format(dformat(timeformat));

    }
</script>

