@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    sgenFun sgen = new sgenFun(Model[0].Col15);
    string userCode = sgen.GetCookie(Model[0].Col15, "userCode");

    var viewName = sgen.GetSession(Model[0].Col15, "viewName").ToString();
    var controllerName = sgen.GetSession(Model[0].Col15, "controllerName").ToString();

    string cond = "";
    #region buttons
    string buttons = "";
    buttons += "<div class='col-md-8'>" +
"        <div class='row'>" +
"            <div class='col-sm-2'> " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsave + " id='btnsave' name='command' value= '" + Model[0].Col13 + "' accesskey = '" + Model[0].Col121 + "' > " + Html.Raw(Model[0].Col122) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='form-control sa-button sa-btncancel' formnovalidate id='btncancel' name='command' value='Cancel' accesskey='C'><u>C</u>ancel</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"        </div>" +
"    </div>";
    #endregion
}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">

                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vsave id="btnsave" name="command" value=@Model[0].Col13 accesskey="S" />
                            @Html.HiddenFor(m => m[0].Col13);

                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="form-control sa-button sa-btncancel" id="btncancel" name="command" value="Cancel" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                <div class="x_content">

                    <div class="row">

                        <div class='col-sm-4'>
                            <label for="first-name">Pattern Type <span class="ClientProfileLabelColor">*</span></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.ListBoxFor(model => model[0].SelectedItems1, new SelectList(Model[0].TList1, "Value", "Text", Model[0].SelectedItems1.FirstOrDefault()), new { @id = "typ_e", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", style = "width:100% ", onchange = "selectionIndexChange(this);" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label for="first-name">.<span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary form-control sa-button" id="btn_Sample" name="command" value="View Sample" />
                                <span class="input-group-addon formclass"></span>


                            </div>
                        </div>

                        <div class='col-sm-6'>
                            <label for="first-name">Sample <span class="ClientProfileLabelColor">*</span></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col21, new { @id = "Txt_print", @Readonly = true, @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @ToolTip = "", @data_placeholder = "" })

                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class='col-sm-1'> <label>S.No.</label> </div>
                        <div class='col-sm-3'><label for="first-name">Contents</label></div>
                        <div class='col-sm-3'><label for="first-name">Print Field</label></div>
                        <div class='col-sm-1'><label for="first-name">Required</label></div>
                        <div class='col-sm-2'><label for="first-name">Separation Character</label></div>
                        <div class='col-sm-2'><label for="first-name">Position</label></div>


                    </div>
                </div>
            </div>




        </div>
    </div>

    <div class="clearfix"></div>
    for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(model => model[i].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[i].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[i].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[i].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[i].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[i].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[i].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[i].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[i].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[i].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[i].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[i].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[i].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[i].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[i].Col15, new { @id = "hf_m_id" })
        @Html.HiddenFor(model => model[i].Col18, new { @id = "hf_module_id" })
        @Html.HiddenFor(model => model[i].Col19, new { @id = "hf_pattern" })
        @Html.HiddenFor(model => model[i].Col20, new { @id = "hf_vch" })
        @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
        @Html.HiddenFor(m => m[i].Col27);
        @Html.HiddenFor(m => m[i].Col29);
        @*@Html.HiddenFor(m => m[i].Col30);*@
        @Html.HiddenFor(m => m[i].Col31);
        @Html.HiddenFor(m => m[i].Col32);
        @Html.HiddenFor(m => m[i].Col33);
        @Html.HiddenFor(m => m[i].Col35);
        @Html.HiddenFor(m => m[i].Col36);
        @Html.HiddenFor(m => m[i].Col37);
        @Html.HiddenFor(m => m[i].Col38);
        @Html.HiddenFor(m => m[i].Col39);
        @Html.HiddenFor(m => m[i].Col40);
        @Html.HiddenFor(m => m[i].Col42);
        @Html.HiddenFor(m => m[i].Col43);
        @Html.HiddenFor(m => m[i].Col44);
        @Html.HiddenFor(m => m[i].Col45);
        @Html.HiddenFor(m => m[i].Col46);
        @Html.HiddenFor(m => m[i].Col47);





        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">


                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">
                        <div class="row">

                            <div class='col-sm-1'>

                                <label for="first-name">@(i + 1)</label>

                                <div class="form-group has-success">
                                    <div class='input-group'>

                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <div class='input-group'>

                                        <div class=" clearfix"></div>




                                        @Html.DisplayFor(model => model[i].Col16, new { @id = "Txt_content", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @ToolTip = "School Name Abbrivation Will Display In Receipt Number", @data_placeholder = "School Name" })
                                        @Html.HiddenFor(model => model[i].Col16, new { @id = "Txt_content", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @ToolTip = "School Name Abbrivation Will Display In Receipt Number", @data_placeholder = "School Name" })



                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <div class='input-group'>
                                        <div class=" clearfix"></div>


                                        @if ((Model[i].Col16 == "Year") || (Model[i].Col16 == "Academic Year"))
                                        {
                                            @Html.ListBoxFor(model => model[i].SelectedItems4, new MultiSelectList(Model[i].TList4, "Value", "Text", Model[i].SelectedItems4), new { style = "width:100%", @id = "Ddl_year" + i, @multiple = "multiple", @class = "sa-select2-single form-control" })

                                        }

                                        @if ((Model[i].Col16 != "Year") && (Model[i].Col16 != "Academic Year"))
                                        {
                                            if ((Model[i].Col16 == "Month") || (Model[i].Col16 == "Date") || (Model[i].Col16 == "Country") || (Model[i].Col16 == "State") || (Model[i].Col16 == "City") || (Model[i].Col16 == "Month"))
                                            {
                                                @Html.DisplayFor(model => model[i].Col17, new { @id = "lbl_print", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @ToolTip = "", @data_placeholder = "" })
                                                @Html.HiddenFor(model => model[i].Col17, new { @id = "hf_Txt_print", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @ToolTip = "", @data_placeholder = "" })


                                            }
                                            if ((Model[i].Col16 == "School Name") || (Model[i].Col16 == "Branch Name") || (Model[i].Col16 == "Branch Code") || (Model[i].Col16 == "Start Number") || (Model[i].Col16 == "Prefix") || (Model[i].Col16 == "Suffix") || (Model[i].Col16 == "Company Name") || (Model[i].Col16 == "Unit Name") || (Model[i].Col16 == "Publisher Name") || (Model[i].Col16 == "Year Of Purchase") || (Model[i].Col16 == "Major Asset Abbreviation") || (Model[i].Col16 == "Minor Asset Abbreviation"))
                                            {
                                                @Html.TextBoxFor(model => model[i].Col17, new { @id = "Txt_print", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @ToolTip = "", @data_placeholder = "" })
                                            }
                                            if (Model[i].Col16 == "Minimum Digit Required")
                                            {

                                                @Html.ListBoxFor(model => model[i].SelectedItems5, new MultiSelectList(Model[i].TList5, "Value", "Text", Model[i].SelectedItems5), new { style = "width:100%", @id = "Ddl_min" + i, @multiple = "multiple", @class = "sa-select2-single form-control" })


                                            }

                                            if (Model[i].Col16 == "PO Type")
                                            {

                                                @Html.ListBoxFor(model => model[i].SelectedItems6, new MultiSelectList(Model[i].TList6, "Value", "Text", Model[i].SelectedItems6), new { style = "width:100%", @id = "Ddl_PO" + i, @multiple = "multiple", @class = "sa-select2-single form-control" })


                                            }

                                            if (Model[i].Col16 == "MRN Type")
                                            {

                                                @Html.ListBoxFor(model => model[i].SelectedItems7, new MultiSelectList(Model[i].TList7, "Value", "Text", Model[i].SelectedItems7), new { style = "width:100%", @id = "Ddl_MRN" + i, @multiple = "multiple", @class = "sa-select2-single form-control" })


                                            }

                                            if (Model[i].Col16 == "SO Type")
                                            {

                                                @Html.ListBoxFor(model => model[i].SelectedItems8, new MultiSelectList(Model[i].TList8, "Value", "Text", Model[i].SelectedItems8), new { style = "width:100%", @id = "Ddl_SO" + i, @multiple = "multiple", @class = "sa-select2-single form-control" })


                                            }


                                        }

                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-1'>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @if ((Model[i].Col16 != "Minimum Digit Required") && (Model[i].Col16 != "Start Number"))
                                        {
                                            @Html.CheckBoxFor(model => model[i].Chk1, new { @id = "Chk_reg", @class = "sa-input checkbox", })

                                        }

                                        @if ((Model[i].Col16 == "Minimum Digit Required") || (Model[i].Col16 == "Start Number"))
                                        {
                                            @Html.CheckBoxFor(model => model[i].Chk1, new { @id = "Chk_reg", @onclick = "return false;", @class = "sa-input checkbox", })

                                        }
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-2'>
                                <div class="form-group">
                                    <div class='input-group'>

                                        @if ((Model[i].Col16 != "Minimum Digit Required") && (Model[i].Col16 != "PO Type Wise Number") && (Model[i].Col16 != "E/D Type Wise Number"))
                                        {
                                            @Html.ListBoxFor(model => model[i].SelectedItems2, new MultiSelectList(Model[i].TList2, "Value", "Text", Model[i].SelectedItems2), new { style = "width:100%", @id = "Ddl_Sep" + i, @multiple = "multiple", @class = "sa-select2-single form-control" })
                                        }

                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-2'>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @if ((Model[i].Col16 != "Minimum Digit Required") && (Model[i].Col16 != "PO Type Wise Number") && (Model[i].Col16 != "E/D Type Wise Number"))
                                        {
                                            @Html.ListBoxFor(model => model[i].SelectedItems3, new MultiSelectList(Model[i].TList3, "Value", "Text", Model[i].SelectedItems3), new { @id = "Ddl_Position" + i, @multiple = "multiple", @class = "sa-select2-single form-control", style = "width:100% " })

                                        }


                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>



    }
    if (Model[0].Col12 == "ROL")
    {

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_rol", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_rol", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_regg" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">ROLL NO. SETTINGS</td>

                                    </tr>
                                    <tr>
                                        <td>Registration Number Change Every Year</td>
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col22, "1", new { @id = "Rbt_Reg_Yes", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })
                                            Yes
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col22, "0", new { @id = "Rbt_Reg_No", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })
                                            No
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Roll No. Based On Registration Number</td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col23, "1", new { @id = "Rbt_RollNo_Yes", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })
                                            Yes
                                        </td>
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col23, "0", new { @id = "Rbt_RollNo_No", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })
                                            No
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Roll No. Changed Every Year</td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col24, "1", new { @id = "Rbt_RollNoYear_Yes", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })

                                            Yes
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col24, "0", new { @id = "Rbt_RollNoYear_No", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })

                                            No
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Based On</td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col25, "1", new { @id = "Rbt_RollNo_Sch", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })

                                            School
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col25, "0", new { @id = "Rbt_RollNo_Class", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })

                                            Class
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col25, "2", new { @id = "Rbt_RollNo_Sec", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })

                                            Section
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>Roll No. Allocated</td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col26, "1", new { @id = "Rbt_RollNo_Adm", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })

                                            Admission Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col26, "0", new { @id = "Rbt_RollNo_Alb", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })

                                            Alphabet Wise
                                        </td>
                                        <td>
                                            @*<asp:Button ID="Btn_RollNo" runat="server" CssClass="btn-primary" Text="Add" OnClick="Btn_RollNo_Click" />*@
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_RollNo" name="command" value="@Model[0].Col27" accesskey="N" />

                                        </td>


                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    }

    if (Model[0].Col12 == "REC")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_rec", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_rec", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_regg" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">RECEIPT NO. SETTINGS</td>

                                    </tr>
                                    <tr>
                                        <td>Receipt Number Change Every Year</td>
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col28, "1", new { @id = "Rbt_Recp_Yes", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })
                                            Yes
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col28, "0", new { @id = "Rbt_Recp_No", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })
                                            No
                                        </td>
                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_RollNo" name="command" value="@Model[0].Col29" accesskey="N" />

                                        </td>
                                    </tr>







                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    }

    if (Model[0].Col12 == "REG")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_reg", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_reg", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_regg" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>



                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">REGISTRATION NO. SETTINGS</td>

                                    </tr>
                                    <tr>
                                        <td>Registration Number Change Every Year</td>
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col30, "1", new { @id = "Rbt_RegYes", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })
                                            Yes
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col30, "0", new { @id = "Rbt_RegNo", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;", @onblur = "return chkfeetype(this);" })
                                            No
                                        </td>
                                        <td>

                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_RollNo" name="command" value="@Model[0].Col31" accesskey="N" />

                                        </td>
                                    </tr>







                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    }

    if (Model[0].Col12 == "INV")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_Inv", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_Inv", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_regg" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "USE")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_use", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_use", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_use" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }
    if (Model[0].Col12 == "IND")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_Ind", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_Ind", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_regg" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "MRN")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_mrn", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_mrn", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_regg" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "ISS")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_Iss", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_Iss", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_regg" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }


    if (Model[0].Col12 == "PUR")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_Pur", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_Pur", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_regg" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "EMP")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_emp", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_emp", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "SAL")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_sal", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_sal", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "WRK")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_wrk", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_wrk", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "VOC")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_voc", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_voc", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "HOS")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_hos", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_hos", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "AST")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_ast", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_ast", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }

    if (Model[0].Col12 == "QUO")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                    <div class="x_content">

                        <div id="Div1" class="table-responsive" overflow-x="scroll" runat="server">

                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td colspan="4">START NO SETTINGS</td>

                                    </tr>
                                    <tr>
                                        @*<td>Registration Number Change Every Year</td>*@
                                        <td>


                                            @Html.RadioButtonFor(model => model[0].Col41, "1", new { @id = "Rbt_Com_quo", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Company Wise
                                        </td>
                                        <td>

                                            @Html.RadioButtonFor(model => model[0].Col41, "0", new { @id = "Rbt_unit_quo", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            Unit Wise
                                        </td>

                                        <td>
                                            <input type="submit" class="btn btn-primary form-control sa-button" id="Btn_" name="command" value="@Model[0].Col42" accesskey="N" />

                                        </td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>
        </div>

    }





    <input type="submit" id="callback1" value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
    <input type="submit" id="btn_pattern" value="pattern" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />

}
<script type="text/javascript">
   // debugger;
    $(document).ready(function () {
        @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
    });




    //function newfun()
    //{
    //    enableForm();
    //    $("[id*=btnsave]").attr("disabled", false);
    //    $("[id*=btnnew]").attr("disabled", true);
    //    $("[id*=btnedit]").attr("disabled", true);
    //}

    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'VIEW', '0', '@viewName', '@controllerName'); }
    function add2() { var data = show_Foo('Select Category And Module', 'ADD2', '1', '@viewName', '@controllerName'); }

    //function cancelfun()
    //{
    //    $("[id*=btnnew]").attr("disabled", false);
    //    $("[id*=btnedit]").attr("disabled", false);
    //    $("[id*=btnsave]").attr("disabled", true);
    //    $("[id*=btndetail]").attr("disabled", false);
    //    $("[id*=btncancel]").attr("disabled", false);
    //    fillBlanks();
    //    disableForm();
    //}

    function selectionIndexChange(ctrl) {
     //   debugger;

        $(parent.document.getElementById('btn_pattern')).trigger('click');
    }

</script>
