@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    sgenFun sgen = new sgenFun(Model[0].Col15);
    string userCode = sgen.GetCookie(Model[0].Col15, "userCode");
    var viewName = sgen.GetSession(Model[0].Col15, "viewName").ToString();
    var controllerName = sgen.GetSession(Model[0].Col15, "controllerName").ToString();
    #region buttons
    string buttons = "";
    buttons += "<div class='col-md-8'>" +
"        <div class='row'>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vnew + " formnovalidate id='btnnew' name='command' value='New' accesskey='N'><u>N</u>ew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vedit + " id='btnedit' name='command' value='Edit' accesskey='I' onclick='editfun();'>Ed<u>i</u>t</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'> " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsave + " id='btnsave' name='command' value= '" + Model[0].Col13 + "' accesskey = '" + Model[0].Col121 + "' > " + Html.Raw(Model[0].Col122) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'> " +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsavenew + " id='btnsavenew' name='command' value= '" + Model[0].Col100 + "' accesskey ='W'> " + Html.Raw(Model[0].Col123) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' id='btndetail' name='command' value='View' accesskey='V' onclick='viewfun();'><u>V</u>iew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='form-control sa-button sa-btncancel' formnovalidate id='btncancel' name='command' value='Cancel' accesskey='C'><u>C</u>ancel</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"        </div>" +
"    </div>";
    #endregion
}


@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
    @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
    @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
    @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
    @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
    @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_vch_num" })
    @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
    @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
    @*@Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })*@
    @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
    @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
    @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
    @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
    @Html.HiddenFor(model => model[0].Col121, new { @id = "Update" })
    @Html.HiddenFor(model => model[0].Col122, new { @id = "Save" })
    @Html.HiddenFor(model => model[0].Col123, new { @id = "savenew" })


    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>
                            @Model[0].Col9
                            @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
                            @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_type" })
                        </h3>
                    </div>

                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        @Html.Raw(buttons)
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class='col-sm-3'>
                            <label for="first-name">Promoted</label>
                            <div class="form-group">
                                <div class='input-group'>

                                    <p>
                                        With Result
                                        @Html.RadioButtonFor(model => model[0].Col20, "Y", new { @id = "Rbt_W", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                        @Html.HiddenFor(model => model[0].Col20, new { @id = "hf_Rbt_W" })

                                        Without Result
                                        @Html.RadioButtonFor(model => model[0].Col20, "N", new { @id = "Rbt_WO", @class = " sa-input radio ", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                        @Html.HiddenFor(model => model[0].Col20, new { @id = "hf_Rbt_WO" })

                                    </p>


                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-3'>
                            <label for="first-name">From Academic Year</label>
                            <div class="form-group has-success">
                                <div class='input-group'>
                                    @Html.DropDownListFor(model => model[0].SelectedItems1, new MultiSelectList(Model[0].TList1, "Value", "Text", Model[0].SelectedItems1), new { multiple = "multiple", @id = "ddl_FromAc", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 ", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model[0].Col25, new { @id = "hf_from_yr" })

                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-3'>
                            <label for="first-name">To Academic Year</label>
                            <div class="form-group has-success">
                                <div class='input-group'>
                                    @Html.DropDownListFor(model => model[0].SelectedItems2, new MultiSelectList(Model[0].TList2, "Value", "Text", Model[0].SelectedItems2), new { multiple = "multiple", @id = "ddl_ToAC", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 ", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model[0].Col26, new { @id = "hf_to_yr" })



                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-3'>
                            <label for="first-name">From Class <span class="ClientProfileLabelColor">*</span></label>
                            <div class="form-group has-success">
                                <div class='input-group'>

                                    @Html.DropDownListFor(model => model[0].SelectedItems3, new MultiSelectList(Model[0].TList3, "Value", "Text", Model[0].SelectedItems3), new { multiple = "multiple", @id = "ddl_Class", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12", onchange = "selectionIndexChange(this);" })

                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class='col-sm-3'>
                            <label for="first-name">From Section <span class="ClientProfileLabelColor">*</span></label>
                            <div class="form-group has-success">
                                <div class='input-group'>


                                    @Html.DropDownListFor(model => model[0].SelectedItems5, new MultiSelectList(Model[0].TList5, "Value", "Text", Model[0].SelectedItems5), new { multiple = "multiple", @id = "ddl_section", @class = "sa-select2-multiple form-control col-md-12 col-sm-12 col-xs-12", data_placeholder = "Select Section" })

                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-3'>
                            <label for="first-name">To Class <span class="ClientProfileLabelColor">*</span></label>
                            <div class="form-group has-success">
                                <div class='input-group'>
                                    @Html.DropDownListFor(model => model[0].SelectedItems4, new MultiSelectList(Model[0].TList4, "Value", "Text", Model[0].SelectedItems4), new { multiple = "multiple", @id = "ddl_Class_To", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12" })


                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>



                        <div class='col-sm-2'>
                            <label for="first-name"></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    <input type="submit" class="btn btn-primary form-control" style="border-radius: 10px!important;" name="command" value="Fill Data" id="btn_Fill" accesskey="F" />
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">

                        <div class='col-sm-1'> <label>S.No.</label> </div>

                        <div class='col-sm-2'><label for="first-name">Registration No.<span class="ClientProfileLabelColor"></span></label></div>
                        <div class='col-sm-2'><label for="first-name">Student Name</label></div>
                        <div class='col-sm-2'><label for="first-name">Father Name<span class="ClientProfileLabelColor"></span></label></div>
                        @if (Model[0].Col20 == "Y")
                        {
                            <div class='col-sm-2'><label for="first-name">Percentage<span class="ClientProfileLabelColor"></span></label></div>

                        }
                        <div class='col-sm-2'><label for="first-name">Promoted Class<span class="ClientProfileLabelColor"></span></label></div>
                        <div class='col-sm-1'><label for="first-name">Promoted<span class="ClientProfileLabelColor"></span></label></div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    //if (Model.Count == 1)
    //{

    //}
    //else
    {
        for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(model => model[i].Col8, new { @id = "hf_url" })
            @Html.HiddenFor(model => model[i].Col23, new { @id = "hf_new_fstr" })
            @Html.HiddenFor(model => model[i].Col24, new { @id = "hf_prm" })
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="padding:0px 17px!important">
                        <div class="x_content">
                            <div class="row">

                                <div class='col-sm-1'>
                                    <label for="first-name">@(i + 1)</label>
                                    <div class="form-group has-success">
                                        <div class='input-group'>

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class='col-sm-2'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DisplayFor(model => model[i].Col17, new { @id = "lbl_reg", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Registration No.", @onkeydown = "return checkLength(this, 28,event);" })
                                            @Html.HiddenFor(model => model[i].Col17, new { @id = "lbl_reg", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Registration No.", @onkeydown = "return checkLength(this, 28,event);" })
                                            @Html.HiddenFor(model => model[i].Col21, new { @id = "lbl_section", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Registration No.", @onkeydown = "return checkLength(this, 28,event);" })
                                            @Html.HiddenFor(model => model[i].Col22, new { @id = "hf_rec_id", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Registration No.", @onkeydown = "return checkLength(this, 28,event);" })
                                            @Html.HiddenFor(model => model[i].Col27, new { @id = "hf_udvchnum", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Registration No.", @onkeydown = "return checkLength(this, 28,event);" })


                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class='col-sm-2'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DisplayFor(model => model[i].Col16, new { @id = "lbl_stdname", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Student Name", @onkeydown = "return checkLength(this, 28,event);" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class='col-sm-2'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DisplayFor(model => model[i].Col19, new { @id = "lbl_father", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Position", @onkeydown = "return checkLength(this, 28,event);" })
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>

                                @if (Model[0].Col20 == "Y")
                                {
                                    <div class='col-sm-2'>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                @Html.DisplayFor(model => model[i].Col18, new { @id = "lbl_perc", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Percentage", @onkeydown = "return checkLength(this, 28,event);" })
                                                <span class="input-group-addon formclass"></span>
                                            </div>
                                        </div>
                                    </div>


                                }

                                <div class='col-sm-2'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DropDownListFor(model => model[i].SelectedItems6, new MultiSelectList(Model[0].TList6, "Value", "Text", Model[i].SelectedItems6), new { @id = "ddl_class_pro_" + i, style = "border-color: silver;", @class = "sa-select2-single sa-textbox form-control col-md-12 col-sm-12 col-xs-12", @multiple = "multiple" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class='col-sm-1'>
                                    <div class="form-group">
                                        <div class='input-group'>

                                            @Html.CheckBoxFor(model => model[i].Chk1, new { @id = "promoted", @class = "sa-input checkbox" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
    <input type="submit" id="callback1" value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
    <input type="submit" id="btn_class" value="Class" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />

}



<script type="text/javascript">

        $(document).ready(function () {
                   @Html.Raw(ViewBag.scripCall);
                 $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
            $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');

        });


        function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName','@controllerName'); }

        function viewfun() { var data = show_Foo('View Detail', 'VIEW', '0', '@viewName','@controllerName'); }


        function selectionIndexChange(ctrl) {


            $(parent.document.getElementById('btn_class')).trigger('click');
        }





</script>