@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string MyGuid = "";
    MyGuid = Model[0].Col15;
    sgenFun sgen;
    sgen = new sgenFun(MyGuid);
    string userCode = sgen.GetCookie(MyGuid, "userCode");
    // ViewBag.Title = "ACTUAL SALARY MASTER";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
}

@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>
                            @Model[0].Col9
                            @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
                        </h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vnew id="btnnew" name="command" value="Revise" accesskey="R" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>                
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vsave id="btnsave" accesskey="s" name="command" value="@Model[0].Col13" />
                            @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })

                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>                
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <button type="submit" class="sa-btncancel form-control sa-button" id="btncancel" name="command" value="Cancel" accesskey="C">C<u>a</u>ncel</button>
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
    @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
    @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;background-color:lightgray">
                <div class="x_content">
                    <div class="row">
                        <div class='col-sm-1'><label>S.No.</label> </div>
                        <div class='col-sm-2'><label>EmpCode</label></div>
                        <div class='col-sm-2'><label>Name</label></div>
                        <div class='col-sm-2'><label>Gross_Salary</label></div>
                        <div class='col-sm-1'><label>Shift</label></div>
                        <div class='col-sm-2'><label>Actual_Salary</label></div>
                        <div class='col-sm-2'><label>Actual_Hrs</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (Model.Count <= 0)
    { }
    else
    {
        for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(model => model[i].Col1, new { @id = "hf_clientid" })
            @Html.HiddenFor(model => model[i].Col2, new { @id = "hf_clientunitid" })
            @Html.HiddenFor(model => model[i].Col3, new { @id = "hf_entby" })
            @Html.HiddenFor(model => model[i].Col4, new { @id = "hf_entdate" })
            @Html.HiddenFor(model => model[i].Col5, new { @id = "hf_editby" })
            @Html.HiddenFor(model => model[i].Col6, new { @id = "hf_editdate" })
            @Html.HiddenFor(model => model[i].Col7, new { @id = "hf_recid" })
            @Html.HiddenFor(model => model[i].Col8, new { @id = "hf_url" })

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                        <div class="x_content">
                            <div class="row">
                                <div class='col-sm-1'>
                                    <label for="first-name">@(i + 1)</label>
                                </div>
                                <div class='col-sm-2'>
                                    @Html.DisplayFor(model => model[i].Col16, new { @id = "lbl_empcode", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", })
                                    @Html.HiddenFor(model => model[i].Col16, new { @id = "hf_empcode" })
                                </div>
                                <div class='col-sm-2'>
                                    @Html.DisplayFor(model => model[i].Col17, new { @id = "lbl_empname", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                    @Html.HiddenFor(model => model[i].Col17, new { @id = "hf_empname" })
                                </div>
                                <div class='col-sm-2'>
                                    @Html.DisplayFor(model => model[i].Col18, new { @id = "lbl_gsalary", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                    @Html.HiddenFor(model => model[i].Col18, new { @id = "hf_gsalary" })
                                </div>
                                <div class='col-sm-1'>
                                    @Html.DisplayFor(model => model[i].Col19, new { @id = "lbl_shft", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                    @Html.HiddenFor(model => model[i].Col19, new { @id = "hf_shft" })
                                </div>
                                <div class='col-sm-2'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col20, new { @id = "txt_act_salary", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "10" })
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-2'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col21, new { @id = "txt_act_hrs", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-ac-time", @MaxLength = "5" })
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <input type="submit" id="callback1" value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}

<script type="text/javascript">

    $(document).ready(function () {
                   @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
    });

    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'VIEW', '0', '@viewName', '@controllerName'); }
    //function cancelfun() {
    //    $("[id*=btnnew]").attr("disabled", false);
    //    $("[id*=btnedit]").attr("disabled", false);
    //    $("[id*=btnsave]").attr("disabled", true);
    //    $("[id*=btndetail]").attr("disabled", false);
    //    $("[id*=btncancel]").attr("disabled", false);
    //    fillBlanks();
    //    disableForm();
    //}

</script>

