@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{ string MyGuid = "";
    MyGuid = Model[0].Col15;
    sgenFun sgen;
    sgen = new sgenFun(MyGuid);
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
    #region Buttons
    var newstyle = "style=visibility:visible;";
    var editstyle = "style=visibility:visible;";
    var savestyle = "style=visibility:visible;";
    var savenewstyle = "style=visibility:visible;";
    var viewstyle = "style=visibility:visible;";
    var viewauth = "";
    var extstyle = "style=visibility:visible;";
    string buttons = "";
    buttons += "<div class='col-md-8'>" +
"        <div class='row'>" +
"            <div class='col-sm-2' " + newstyle + ">" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vnew + " formnovalidate id='btn_new' name='command' value='New' accesskey='N'><u>N</u>ew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' " + editstyle + " > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vedit + " id='btnedit' name='command' value='Edit' accesskey='I' onclick='editfun();'>Ed<u>i</u>t</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' " + savestyle + " > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsave + " id='btnsave' name='command' value= '" + Model[0].Col13 + "' accesskey = '" + Model[0].Col121 + "' > " + Html.Raw(Model[0].Col122) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group' " + savenewstyle + " > " +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsavenew + " id='btnsavenew'  name='command' value= '" + Model[0].Col100 + "' accesskey ='W'> " + Html.Raw(Model[0].Col123) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' " + viewstyle + " > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' id='btndetail' name='command' value='View' accesskey='V' onclick='viewfun();'><u>V</u>iew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='form-control sa-button sa-btncancel' formnovalidate id='btncancel' name='command' value='Cancel' accesskey='C'><u>C</u>ancel</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"        </div>" +
"    </div>";
    #endregion


}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>

        @Html.Raw(buttons)

    </div>
    <div class="clearfix"></div>
    @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
    @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
    @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
    @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
    @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
    @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
    @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
    @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })
    @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
    @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
    @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
    @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
    @Html.HiddenFor(model => model[0].Col16, new { @id = "hf_vch_num" }) 
    @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
    @Html.HiddenFor(model => model[0].Col121, new { @id = "Update" })
    @Html.HiddenFor(model => model[0].Col122, new { @id = "Save" })
    @Html.HiddenFor(model => model[0].Col123, new { @id = "savenew" })

    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class='col-sm-3'>
                    <label for="first-name">
                        Employee Code
                        <span class="ClientProfileLabelColor">*</span>
                    </label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col17, new { @id = "em_code", @ReadOnly = "true", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <label for="first-name">Employee Name </label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col18, new { @id = "txt_emp", @Readonly = "ture", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory" })
                            @Html.HiddenFor(model => model[0].Col21, new { @id = "hf_emp_id" })

                            <span class="input-group-addon" data-toggle="tooltip" data-placement="top" clientidmode="static" id="emp_det" onclick="EMP(this);"><i class="fa fa-search"></i></span>


                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <label for="first-name">
                        WEF
                        <span class="ClientProfileLabelColor"></span>
                    </label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col19, new { @id = "txt_eff", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <label for="first-name">
                        Created Date
                        <span class="ClientProfileLabelColor"></span>
                    </label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col20, new { @id = "txt_dt", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <hr />
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class='col-sm-5'>
                    <div class='col-sm-2'>
                        <label for="first-name">S.No. <span class="ClientProfileLabelColor"></span></label>
                    </div>
                    <div class='col-sm-10'>
                        <label for="first-name">Goal <span class="ClientProfileLabelColor"></span></label>
                    </div>
                </div>

                <div class='col-sm-4'>
                    <label for="first-name">Goal Description<span class="ClientProfileLabelColor"></span></label>
                </div>
                <div class='col-sm-3'>
                    <div class='col-sm-6'>
                        <label for="first-name">Weightage<span class="ClientProfileLabelColor"></span></label>
                    </div>
                    <div class='col-sm-6'>
                        <label for="first-name">Target<span class="ClientProfileLabelColor"></span></label>
                    </div>
                </div>
            </div>

            @for (int k = 0; k < Model[0].LTM2.Count; k++)
            {
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.HiddenFor(m => m[0].LTM2[k].Col1)


                    <div class="x_panel" style="padding: 3px 15px !important">
                        <div class="x_title" style="padding: 0px !important">
                            <!-- tools box -->
                            <ul class="nav navbar-right panel_toolbox">
                                <li><input name="command" onclick="sethfval('@k');" type="submit" value="Add" class="fa fa-plus" formnovalidate data-toggle="tooltip" title="Add More" /> </li>
                                <li><input name="command" onclick="sethfval('@k');" type="submit" value="Remove" class="fa fa-close" formnovalidate data-toggle="tooltip" title="Remove" /> </li>
                            </ul>
                            <div class="clearfix" id="diclear"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class='col-sm-5'>

                                    <div class='col-sm-2'>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <b>@(k + 1)</b> <span class="input-group-addon formclass"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-10'>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                @Html.DropDownListFor(model => model[0].LTM2[k].SelectedItems1, new MultiSelectList(Model[0].LTM2[k].TList1, "Value", "Text", Model[0].LTM2[k].SelectedItems1), new { @id = "ddl_goal" + k + "", @style = "width: 100%;", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox ", @multiple = "multiple", onchange = "selectindex_change(this);" })
                                                <span class="input-group-addon formclass"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-4'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].LTM2[k].Col2, new { @id = "txt_desp" + k + "", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                @Html.TextBoxFor(model => model[0].LTM2[k].Col3, new { @id = "txt_weightage" + k + "", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return isNumberKey(event)" })
                                                <span class="input-group-addon formclass"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group'>

                                                @Html.TextBoxFor(model => model[0].LTM2[k].Col4, new { @id = "txt_target" + k + "", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return isNumberKey(event)" })
                                                <span class="input-group-addon formclass"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <input type="hidden" name="hfrow" id="hfrow" />
    <input type="submit" id="callback1" value="Callback" formnovalidate name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
    <input type="submit" id="btn_goal" value="Goal" name="Command" formnovalidate title="callback" style="visibility:hidden" class="btn btn-primary" />

}
<script type="text/javascript">
          $(document).ready(function () {
        @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
              $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');



    });
    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'VIEW', '0', '@viewName', '@controllerName'); }
    function sethfval(val) { $("#hfrow").val(val); }
  function EMP() { var data = show_Foo('Select Employee', 'EMPDETAIL', '1', '@viewName', '@controllerName'); }

    function selectindex_change(ctrl) {
        debugger;

        var ids = new Array();
        var vals = $("select[id*=ddl_goal]").length;
        if (vals == "" || vals == undefined) {
            vals = 1;
        }
        for (var i = 0; i < vals; i++) {
            try {
                if (ids.includes($("#ddl_goal" + i + "")[0].value)) alert('Duplicate Goal Exist');
                else ids.push($("#ddl_goal" + i + "")[0].value);

            }
            catch{ }
        }
        var rno = parseInt($(ctrl).parent().parent().parent().prev()[0].innerText) - 1;
        sethfval(rno);

        $(parent.document.getElementById('btn_goal')).trigger('click');

    }

</script>
