@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string MyGuid = "";
    MyGuid = Model[0].Col15;
    sgenFun sgen;
    sgen = new sgenFun(MyGuid);
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                        @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vnew id="btnnew" onclick="setTableDatat();" name="command" value="New" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vsave id="btnsave" onclick="setTableDatat();" name="command" value="@Model[0].Col13" />

                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="button" class="btn btn-primary form-control sa-button" @ViewBag.vget id="btnget" onclick="getfun();" name="command" value="Get Data" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                @*<div class='col-sm-2'>
            <div class="form-group">
                <div class='input-group'>
                    <input type="button" class="btn btn-warning form-control sa-button" @ViewBag.vedit id="btnedit" onclick="setTableDatat();editfun();" name="command" value="Edit" />
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>*@
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <button type="submit" class="sa-btncancel form-control sa-button" formnovalidate onclick="setTableDatat();" id="btncancel" name="command" value="Cancel">Cancel</button>
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <button type="submit" class="sa-btncancel form-control sa-button" formnovalidate id="btncancel" name="command" value="View">View</button>
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
    @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
    @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
    @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
    @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
    @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
    @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
    @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })

    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
    @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
    @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
    @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
    @Html.HiddenFor(model => model[0].Col16, new { @id = "hf_vchnum" })
    @Html.HiddenFor(model => model[0].Col17, new { @id = "hf_rno" })
    @Html.HiddenFor(model => model[0].Col18, new { @id = "hf_vchdate" })

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class='col-sm-4 hidectrl'>
                            <label for="first-name">Doc No <span class="ClientProfileLabelColor">*</span></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col18, new { @id = "txt_docno", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @readonly = true })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <label for="first-name">Grade <span class="ClientProfileLabelColor">*</span></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.DropDownListFor(model => model[0].SelectedItems1, new MultiSelectList(Model[0].TList1, "Value", "Text", Model[0].SelectedItems1), new { @id = "ddl_grd", @class = "sa-select2-multiple col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @MaxLength = "20", @multiple = "multiple" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class="row">
                                <div class='col-sm-10'>
                                    <label for="first-name">Department <span class="ClientProfileLabelColor">*</span></label>
                                    <div class="form-group has-success">
                                        <div class='input-group'>
                                            @Html.DropDownListFor(model => model[0].SelectedItems2, new MultiSelectList(Model[0].TList2, "Value", "Text", Model[0].SelectedItems2), new { multiple = "multiple", @id = "ddl_dept", @class = "sa-select2-multiple form-control col-md-12 col-sm-12 col-xs-12", placeholder = "Choose Department", @MaxLength = "10" })
                                            <span class="input-group-addon formclass">
                                                <input clientidmode="Static" id="chk_dept" runat="server" type="checkbox" class="all sa-input checkbox" onchange="selectall(this);" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                @*<div class='col-sm-2'>
                                        <label for="first-name">All </label>
                                        <div class="form-group">
                                            <div class='input-group'>

                                                <span class="input-group-addon formclass"></span>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class="row">
                                <div class='col-sm-10'>
                                    <label for="first-name">Designation  <span class="ClientProfileLabelColor">*</span></label>
                                    <div class="form-group has-success">
                                        <div class='input-group'>
                                            @Html.DropDownListFor(model => model[0].SelectedItems3, new MultiSelectList(Model[0].TList3, "Value", "Text", Model[0].SelectedItems3), new { multiple = "multiple", @id = "ddl_desig", @class = "sa-select2-multiple form-control col-md-12 col-sm-12 col-xs-12", placeholder = "Choose Designation", @MaxLength = "10" })
                                            <span class="input-group-addon formclass">
                                                <input clientidmode="Static" id="chk_desig" runat="server" type="checkbox" class="all sa-input checkbox" onchange="selectall(this);" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                @*<div class='col-sm-2'>
                                        <label for="first-name">All </label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <span class="input-group-addon formclass"></span>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-3'>
                            <label for="first-name">Effective From </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col19, new { @id = "txt_effdt", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date sa-from-date", placeholder = "Effective Date" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-3'>
                            <label for="first-name">Pay From </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col20, new { @id = "txt_appldt", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date sa-to-date", placeholder = "Applicable Date" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class='col-sm-1'>
                            <label for="first-name">Edit </label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.CheckBoxFor(model => model[0].Chk3, new { @id = "chk_ed", @class = "all sa-input checkbox", })

                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
        </div>
    </div>

    if (Model.Count < 1)
    { }
    else
    {
        for (int i = 0; i < Model.Count; i++)
        {
            DataTable dtm = Model[i].dt1;
            if (dtm != null)
            {
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="padding: 3px 15px !important">

                        <div class="x_content">
                            <div class="row">
                                <div class="grid-container">
                                    <div class="grid" id="grd1">

                                        @foreach (DataColumn dc in dtm.Columns)
                                        {
                                            try
                                            {
                                                int mlength = 20;
                                                try
                                                {
                                                    mlength = dtm.Select("[" + dc.ColumnName + "] = MAX([" + dc.ColumnName + "])")[0][dc.ColumnName].ToString().Length;
                                                }
                                                catch (Exception err) { }
                                                int k = 0;
                                                if (dc.Ordinal == 0)
                                                {
                                                    <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:40px;z-index:10;left:0px;position:sticky;">
                                                        <div class="grid-item grid-item--header">
                                                            <p>@dc.ColumnName.ToString()</p>
                                                        </div>

                                                        @foreach (DataRow dr in dtm.Rows)
                                                        {
                                                        <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' data-sakeys="gloval">
                                                            @if (dr[dc].ToString().Trim().Contains("-"))
                                                            {
                                                                <label>@dr[dc].ToString()</label>
                                                            }
                                                            else
                                                            {
                                                                <label>@(k + 1)-@dr[dc].ToString()</label>
                                                            }
                                                        </div>
                                                            k++;
                                                        }  
                                                    </div>
                                                }
                                                else if (dc.Ordinal == 1)
                                                {
                                                    <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:150px;z-index:10;left:60px;position:sticky;">
                                                        <div class="grid-item grid-item--header">
                                                            <p>@dc.ColumnName.ToString()</p>
                                                        </div>
                                                        @foreach (DataRow dr in dtm.Rows)
                                                        {
                                                            <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' data-sakeys="gloval" contenteditable="false">
                                                                @dr[dc].ToString()
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="grid-col" id="col_@dc.Ordinal" style="width:@(mlength * 15)px">
                                                        <div class="grid-item grid-item--header">
                                                            <p>@dc.ColumnName.ToString()</p>
                                                        </div>
                                                        @foreach (DataRow dr in dtm.Rows)
                                                        {
                                                            <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' name="editor" data-sakeys="gloval" contenteditable="true">
                                                                @dr[dc].ToString()
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            }
                                            catch (Exception err) { }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

       
        }
    }

    <input type="hidden" name="hfrow" id="hfrow" />
    <input type="hidden" name="hftable" id="hftable" />
    <input type="submit" id="callback1" value="Callback" formnovalidate onclick="setTableDatat();" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}

<script type="text/javascript">

    $(document).ready(function () {



        //var rows = $("[id=grd1]").children().eq(0).children().length - 1;
        //for (var k = 0; k < rows; k++) {
        //    totalSum(k);
        //}
     @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');

        try {
            var editpors = $("[name=editor]");
            for (var i = 0; i < editpors.length; i++) {

                $(editpors)[i].addEventListener("input", function () {

                    //debugger
                    var k = $(this)[0].id.split('_')[1];
                    totalSum(k);

                }, false);
            }
            //totalll();
        }
        catch (err) { }
    });

    function totalSum(k) {

        var amt = 0;
        var heads = $("[id*=grd1]").find("[id*=col_]");
        var row = $("[id*=grd1]").find("[id=row_" + k + "]");
        for (var h = 8; h < heads.length - 2; h++) {
            var headername = $(row[h]).parents().eq(0).children()[0].innerText;
            var res = seekServer('@controllerName', "HEADTYPEBULK", headername, '-');
            var tval = row[h].innerText;
            if (isNaN(tval) || tval.trim() == '') {
                row[h].innerText = 0;
                tval = 0;
            }
            if (res.toUpperCase() == 'DEDUCTION') amt = amt - parseFloat(tval);
            else amt = amt + parseFloat(tval);
        }
        if (isNaN(amt)) amt = 0;
        //row[heads.length - 1].innerText = amt;

    }

    function totalll() {

        var amt = 0;
        var grids = $("[id*=grd]");
            try {
                var grid = grids.eq(0);
                datatable = new Array();

                var heads = $(grid).find("[id*=col_]");
                var rows = $(heads).eq(0).find("[id*=row_]");

                for (var r = 0; r < rows.length; r++) {
                    amt = 0;
                    var row = $("[id=row_" + r + "]");
                    for (var h = 8; h < heads.length - 2; h++) {
                        amt += parseFloat(row[h].innerText);
                    }
                    if (isNaN(amt)) amt = 0;
                    row[heads.length - 1].innerText = amt;
                }
            }
            catch { }


        //var heads = $("[id*=col_]");
        //var rows = $(heads).eq(0).find("[id*=row_]");
        //for (var r = 0; r < rows.length; r++) {
        //    amt = 0;
        //    var row = $("[id=row_" + r + "]");
        //    for (var h = 8; h < heads.length - 1; h++) {
        //        amt += parseFloat(row[h].innerText);
        //    }
        //    if (isNaN(amt)) amt = 0;
        //    row[heads.length - 1].innerText = amt;
        //}

    }
    function setTableDatat() {

        debugger
        datatable = new Array();

        var tstr = "";
        var grids = $("[id^=grd]");
        for (var g = 0; g < grids.length; g++) {
            try {
                var grid = grids.eq(g);
                datatable = new Array();

                var heads = $(grid).find("[id*=col_]");
                var rows = $(heads).eq(0).find("[id*=row_]");
                for (var r = 0; r < rows.length; r++) {
                    var row = $(heads).find("[id=row_" + r + "]");
                    var arr = new Array();
                    for (var h = 0; h < heads.length; h++) {
                        var obj = {};
                        var val = "";
                        //if (h == 0) {
                        //    val = row.eq(0).find("[id*=fstr]").val().trim();
                        //}
                        //else {
                            val = row[h].innerText;
                        //}
                        obj[heads[h].children[0].innerText] = val;
                        arr.push(obj);
                    }
                    datatable.push(arr);
                }
            }
            catch (err) { alert(err); return; }
            if (tstr.trim() == "") { tstr = JSON.stringify(datatable); }
            else {
                tstr = tstr + "!~!~!~!" + JSON.stringify(datatable);
            }
        }
        //PageMethods.settable(datatable);

        $("#hftable").val(tstr);
    }
    function sethfval(val) {

        $("#hfrow").val(val);
        setTableDatat();
    }
    function selectall(ctrl) {

        var ddl = "", chk = "";
        chk = ctrl.id;
        if (chk == "chk_dept") ddl = "ddl_dept";
        else if (chk == "chk_desig") ddl = "ddl_desig";

        if ($(".all").is(':checked')) {
            $("#" + ddl + " > option").prop("selected", "selected");
            $("#" + ddl + "").trigger("change");
        } else {
            $("#" + ddl + " > option").removeAttr("selected");
            $("#" + ddl + "").trigger("change");
        }
    }

    function editfun() { var data = show_Foo('Select record for edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    
    function getfun() { var data = show_Foo('Select record for Increment', 'GETDATA', '2', '@viewName', '@controllerName'); }

</script>

<style type="text/css">
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0 5px;
        width: 100%;
        max-height: 10rem;
        overflow: auto;
        cursor: pointer;
    }
</style>

