@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
                /**/

                string MyGuid = "";
                MyGuid = Model[0].Col15;
                sgenFun sgen;
                sgen = new sgenFun(MyGuid);
                Layout = "~/Views/Shared/_MasterPage.cshtml";
                var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
                var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
                string userCode = sgen.GetCookie(MyGuid, "userCode");
                DataTable tmp = sgen.getdata(userCode, "select * from controls where trim(upper(param5))='MRS' and type='VDC'");
                string vis = "";
                string mandatory = "sa-mandatory";

                string buttons = "";
                buttons += "<div class='col-md-8'>" +
            "     <div class='row'>" +
            "         <div class='col-sm-2' >" +
            "             <div class='form-group'>" +
            "                 <div class='input-group'>" +
            "                     <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vnew + " id='btnnew' onclick='setTableDatat();newfun();' name='command' value='New' accesskey='N'><u>N</u>ew</button>" +
            "                     <span class='input-group-addon formclass'></span>" +
            "                 </div>" +
            "             </div>" +
            "         </div>" +
            "         <div class='col-sm-2'>" +
            "             <div class='form-group'>" +
            "                 <div class='input-group'>" +
            "                     <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vedit + " id ='btnedit' onclick='setTableDatat();editfun();' name='command' value='Edit' accesskey='I'>Ed<u>i</u>t</button>" +
            "                     <span class='input-group-addon formclass'></span>" +
            "                 </div>" +
            "             </div>" +
            "         </div>" +
            "         <div class='col-sm-2'>" +
            "             <div class='form-group'>" +
            "                 <div class='input-group'>" +
            "                     <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsave + " id ='btnsave' onclick='setTableDatat();' name='command' value='" + Model[0].Col13 + "' accesskey='" + Model[0].Col121 + "'>" + Html.Raw(Model[0].Col122) + "</button>" +
            "                     <span class='input-group-addon formclass'></span>" +
            "                 </div>" +
            "             </div>" +
            "         </div>" +
            "         <div class='col-sm-2'>" +
            "             <div class='form-group'>" +
            "                 <div class='input-group'>" +
            "                     <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsavenew + " id ='btnsavenew' onclick='setTableDatat();' name='command' value='" + Model[0].Col100 + "' accesskey='W'>" + Html.Raw(Model[0].Col123) + "</button>" +
            "                     <span class='input-group-addon formclass'></span>" +
            "                 </div>" +
            "             </div>" +
            "         </div>" +
            "         <div class='col-sm-2'>" +
            "             <div class='form-group'>" +
            "                 <div class='input-group'>" +
            "                     <button type='button' class='btn btn-primary form-control sa-button' onclick='setTableDatat();viewfun();' id='btndetail' name='command' value='View' accesskey='V'><u>V</u>iew</button>" +
            "                     <span class='input-group-addon formclass'></span>" +
            "                 </div>" +
            "             </div>" +
            "         </div>" +
            "         <div class='col-sm-2'>" +
            "             <div class='form-group'>" +
            "                 <div class='input-group'>" +
            "                     <button type='submit' class='sa-btncancel form-control sa-button' formnovalidate onclick='setTableDatat();' id='btncancel' name='command' value='Cancel' accesskey='C'><u>C</u>ancel</button>" +
            "                     <span class='input-group-addon formclass'></span>" +
            "                 </div>" +
            "             </div>" +
            "         </div>" +
            "         <div class='col-sm-2'>" +
            "             <div class='form-group'>" +
            "                 <div class='input-group'>" +
            "                     <button type='button' class='btn btn-primary form-control sa-button' onclick='setTableDatat();printfun();' id='btnprint' name='command' value='Print' accesskey='P'><u>P</u>rint</button>" +
            "                     <span class='input-group-addon formclass'></span>" +
            "                 </div>" +
            "             </div>" +
            "         </div>" +
            "     </div>" +
            " </div>";

}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>MATERIAL REQUISITION</h3>
                        <h5>@Model[0].Col9</h5>
                        @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        @Html.Raw(buttons)

    </div>
    <div class="clearfix"></div>

    @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
    @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
    @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
    @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
    @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
    @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
    @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
    @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })

    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
    @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
    @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
    @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
    @Html.HiddenFor(model => model[0].Col16, new { @id = "" })
    @Html.HiddenFor(model => model[0].Col17, new { @id = "hf_rno" })
    @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
    @Html.HiddenFor(model => model[0].Col121, new { @id = "Update" })
    @Html.HiddenFor(model => model[0].Col122, new { @id = "Save" })
    @Html.HiddenFor(model => model[0].Col123, new { @id = "savenew" })

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        @if (tmp.Select("param3='Doc No'")[0]["param2"].ToString() == "Y")
                        {
                            if (tmp.Select("param3='Doc No'")[0]["param1"].ToString().Trim().Equals("Y"))
                            {
                                mandatory = "sa-mandatory";
                            }
                            else { mandatory = ""; }
                            <div class='col-sm-4'>
                                <label for="first-name">@tmp.Select("param3='Doc No'")[0]["name"].ToString()<span class="ClientProfileLabelColor"> *</span></label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col18, new { @id = "txt_docno", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", @readonly = true })
                                        @*<span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select Address" clientidmode="static" id="spn_add" onclick="selectadd(this);"><i class="fa fa-search"></i></span>*@
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (tmp.Select("param3='Requested_Date'")[0]["param2"].ToString() == "Y")
                        {
                            if (tmp.Select("param3='Requested_Date'")[0]["param1"].ToString().Trim().Equals("Y"))
                            {
                                mandatory = "sa-mandatory";
                            }
                            else { mandatory = ""; }
                            <div class='col-sm-4'>
                                <label for="first-name">@tmp.Select("param3='Requested_Date'")[0]["name"].ToString()<span class="ClientProfileLabelColor"> *</span></label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col20, new { @id = "txt_rqdt", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-ac-date " + mandatory + "" })
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (tmp.Select("param3='Requested_By'")[0]["param2"].ToString() == "Y")
                        {
                            if (tmp.Select("param3='Requested_By'")[0]["param1"].ToString().Trim().Equals("Y"))
                            {
                                mandatory = "sa-mandatory";
                            }
                            else { mandatory = ""; }
                            <div class='col-sm-4'>
                                <label for="first-name">@tmp.Select("param3='Requested_By'")[0]["name"].ToString()</label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col23, new { @id = "txt_reqby", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", @MaxLength = "20" })
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        @if (tmp.Select("param3='Department'")[0]["param2"].ToString() == "Y")
                        {
                            if (tmp.Select("param3='Department'")[0]["param1"].ToString().Trim().Equals("Y"))
                            {
                                mandatory = "sa-mandatory";
                            }
                            else { mandatory = ""; }
                            <div class='col-sm-4'>
                                <label for="first-name">@tmp.Select("param3='Department'")[0]["name"].ToString() <span class="ClientProfileLabelColor"> *</span></label>
                                <div class="form-group ">
                                    <div class='input-group'>
                                        @Html.DropDownListFor(model => model[0].SelectedItems1, new MultiSelectList(Model[0].TList1, "Value", "Text", Model[0].SelectedItems1), new { @id = "ddl_department", @class = "sa-select2-multiple col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", @MaxLength = "20", @multiple = "multiple" })
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (tmp.Select("param3='Designation'")[0]["param2"].ToString() == "Y")
                        {
                            if (tmp.Select("param3='Designation'")[0]["param1"].ToString().Trim().Equals("Y"))
                            {
                                mandatory = "sa-mandatory";
                            }
                            else { mandatory = ""; }
                            <div class='col-sm-4'>
                                <label for="first-name">@tmp.Select("param3='Designation'")[0]["name"].ToString()<span class="ClientProfileLabelColor"> *</span></label>
                                <div class="form-group ">
                                    <div class='input-group'>
                                        @Html.DropDownListFor(model => model[0].SelectedItems2, new MultiSelectList(Model[0].TList2, "Value", "Text", Model[0].SelectedItems2), new { @id = "ddl_desig", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", @MaxLength = "20", @multiple = "multiple" })
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (tmp.Select("param3='Order_Id'")[0]["param2"].ToString() == "Y")
                        {
                            if (tmp.Select("param3='Order_Id'")[0]["param1"].ToString().Trim().Equals("Y"))
                            {
                                mandatory = "sa-mandatory";
                            }
                            else { mandatory = ""; }
                            <div class='col-sm-4'>
                                <label for="first-name">@tmp.Select("param3='Order_Id'")[0]["name"].ToString()</label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col22, new { @id = "txt_ordid", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", @MaxLength = "20" })
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        @if (tmp.Select("param3='Remark'")[0]["param2"].ToString() == "Y")
                        {
                            if (tmp.Select("param3='Remark'")[0]["param1"].ToString().Trim().Equals("Y"))
                            {
                                mandatory = "sa-mandatory";
                            }
                            else { mandatory = ""; }
                            <div class='col-sm-4'>
                                <label for="first-name">@tmp.Select("param3='Remark'")[0]["name"].ToString()<span class="ClientProfileLabelColor"> *</span></label>
                                <div class="form-group ">
                                    <div class='input-group'>
                                        @Html.TextAreaFor(model => model[0].Col21, new { @id = "txt_remark", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "" })
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (Model.Count < 1)
    { }
    else
    {
        for (int i = 0; i < Model.Count; i++)
        {
            DataTable dtm = Model[i].dt1;
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 3px 15px !important">

                    <div class="x_content">
                        <div class="row">
                            <h5>Select Required Item</h5>
                            <div class="grid-container">
                                <div class="grid">


                                    @foreach (DataColumn dc in dtm.Columns)
                                    {
                                        int mlength = dtm.Select("[" + dc.ColumnName + "] = MAX([" + dc.ColumnName + "])")[0][dc.ColumnName].ToString().Length;
                                        int k = 0;
                                        if (dc.Ordinal == 0)
                                        {
                                            <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:@(mlength * 8)px">
                                                <div class="grid-item grid-item--header">
                                                    <p>@dc.ColumnName.ToString()</p>
                                                </div>

                                                @foreach (DataRow dr in dtm.Rows)
                                                {
                                                    <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)'>
                                                        <input name="command" onclick="sethfval('@k');getitem();" type="button" value="+" style="max-height: 20px;padding-top: 0px;" class="btn btn-info btn-sm" formnovalidate data-toggle="tooltip" title="Add More" />
                                                        <input name="command" onclick="sethfval('@k');" type="submit" value="-" style="max-height: 20px;padding-top: 0px;" class="btn btn-info btn-sm" formnovalidate data-toggle="tooltip" title="Hide" />
                                                        <label>@(k + 1)</label>
                                                    </div>
                                                    k++;
                                                }
                                            </div>
                                        }
                                        else if (dc.Ordinal == 7)
                                        {
                                            <div class="grid-col" id="col_@dc.Ordinal" style="width:@(mlength * 8)px;left:100px;position:sticky; z-index: 2;background: white;">
                                                <div class="grid-item grid-item--header">
                                                    <p>@dc.ColumnName.ToString()</p>
                                                </div>
                                                @foreach (DataRow dr in dtm.Rows)
                                                {
                                                    <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="true">
                                                        @dr[dc].ToString()
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else if (dc.Ordinal == 8)
                                        {
                                            <div class="grid-col" id="col_@dc.Ordinal" style="width:@(mlength * 8)px;left:100px;position:sticky; z-index: 2;background: white;">
                                                <div class="grid-item grid-item--header">
                                                    <p>@dc.ColumnName.ToString()</p>
                                                </div>
                                                @foreach (DataRow dr in dtm.Rows)
                                                {
                                                    <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="true">
                                                        @dr[dc].ToString()
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="grid-col" id="col_@dc.Ordinal" style="width:@(mlength * 8)px">
                                                <div class="grid-item grid-item--header">
                                                    <p>@dc.ColumnName.ToString()</p>
                                                </div>
                                                @foreach (DataRow dr in dtm.Rows)
                                                {
                                                    <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="false">
                                                        @dr[dc].ToString()
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

    <div class="row">
        <div class="col-sm-4">

        </div>
        @Html.Raw(buttons)
    </div>

    <input type="hidden" name="hfrow" id="hfrow" />
    <input type="hidden" name="hftable" id="hftable" />
    <input type="submit" id="callback1" value="Callback" formnovalidate name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />

}

<script type="text/javascript">

    $(document).ready(function () {

     @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');

    });
    function setTableDatat() {
        try {

            datatable = new Array();

            var heads = $("[id*=col_]");
            var rows = $(heads).eq(0).find("[id*=row_]");
            for (var r = 0; r < rows.length; r++) {
                var row = $("[id=row_" + r + "]");
                var arr = new Array();
                for (var h = 0; h < heads.length; h++) {
                    var obj = {};
                    obj[heads[h].children[0].innerText] = row[h].innerText;
                    arr.push(obj);
                }
                datatable.push(arr);
            }
        }
        catch (err) { alert(err); return; }
        $("#hftable").val(JSON.stringify(datatable));
        //PageMethods.settable(datatable);


    }
    function sethfval(val) {

        $("#hfrow").val(val);
        setTableDatat();
    }

    function newfun() { var data = show_Foo('Select Requisition Type', 'NEW', '1', '@viewName', '@controllerName'); }
    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'VIEW', '0', '@viewName', '@controllerName'); }
     function printfun() {  var data =show_Foo('Select Entry For PRINT', 'PRINT', '1', '@viewName', '@controllerName'); }
    function getitem() {
        //debugger
        var icode = "", chkcode = "", rqdt = "";
        rqdt = $("#txt_rqdt")[0].value;
        var heads = $("[id*=col_]");
        var rows = $(heads).eq(0).find("[id*=row_]");
        for (var r = 0; r < rows.length; r++) {

            var row = $("[id=row_" + r + "]");
            chkcode = row[1].innerText;
            if (chkcode != "-") {
                icode = icode + chkcode + ",";
            }
        }

        var data = show_Foo('Select Items', 'ITEM', '2', '@viewName', '@controllerName', icode, rqdt);
    }

</script>