@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string clr = "";
    string MyGuid = EncryptDecrypt.Decrypt(Request.QueryString["m_id"]);
    sgenFun sgen = new sgenFun(MyGuid); string mandatory = "sa-mandatory";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    string userCode = sgen.GetCookie(MyGuid, "userCode");
    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();

}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3 id="hd_title">@Model[0].Col9</h3>
                    </div>

                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class='col-sm-2'> <label>Group Id</label> </div>
                        <div class='col-sm-3'><label for="first-name">Group Name</label></div>
                        <div class='col-sm-2'><label for="first-name">No Of Users In Group</label></div>
                        <div class='col-sm-3'><label for="first-name">Description</label></div>
                        <div class='col-sm-1'><label for="first-name">Edit Group</label></div>
                        <div class='col-sm-1'><label for="first-name">Delete Group</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
        @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
        if (Model[0].Col16 != "")
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 smt">
                    <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important; @clr">
                        <div class="x_content">
                            <div id="Atten_@i" class="row table-responsive">
                                <div class='col-sm-2'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <div class=" clearfix"></div>
                                            @Html.DisplayFor(model => model[i].Col16, new { @id = "grp_id", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Designation", @onkeydown = "return checkLength(this, 28,event);" })
                                            @Html.HiddenFor(model => model[i].Col16, new { @id = "hf_grp_id" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DisplayFor(model => model[i].Col17, new { @id = "grp_name", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", data_placeholder = "Department", @onkeydown = "return checkLength(this, 28,event);" })
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-2'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DisplayFor(model => model[i].Col18, new { @id = "nouser", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                            <div class=" clearfix"></div>
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DisplayFor(model => model[i].Col19, new { @id = "desc", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                            <div class=" clearfix"></div>
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-1'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <a id="ld" href="@Url.RouteUrl(new { Controller = controllerName, Action = "ed_grp", mid = EncryptDecrypt.Encrypt("1009.1"), m_id = EncryptDecrypt.Encrypt(Model[0].Col15), fstr = EncryptDecrypt.Encrypt(Model[i].Col16) })">
                                                <i class="showopacity glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-1'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <a causesvalidation="false" data-toggle="tooltip" data-placement="top" title="Delete This Group" id="btncharts" tooltip="Delete This Group" onclick="confirm();sethfval('@i');">
                                                <i class="showopacity glyphicon glyphicon-trash"></i>
                                            </a>
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <input type="hidden" name="hfrow" id="hfrow" />
    <input type="submit" id="hfbtnyes" value="DELETE" name="Command" title="hfbtnyes" style="visibility:hidden" class="btn btn-primary" />
    <input type="submit" id="callback1" formnovalidate value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}
<script type="text/javascript">
    $(document).ready(function () {
        @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
        sethfval();
    });
    function sethfval(val) {
        $("#hfrow").val(val);
    }
    function confirm() {
        showmsgJS(2, 'Do You Want To Delete This Group', 1);
    }

</script>

