@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    sgenFun sgen = new sgenFun();
    string userCode = sgen.getcookie("userCode");
    string clr = "";
    // ViewBag.Title = "asset_ent";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var controllerName = @ViewContext.RouteData.Values["Controller"].ToString();
    var viewName = @Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
    Session["viewName"] = viewName;
    Session["controllerName"] = controllerName;
    var isep = false;
    var ishc = false;
    var isbc = false;
}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vnew id="btnnew" name="command" value="New" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="button" class="btn btn-warning form-control sa-button" @ViewBag.vedit id="btnedit" name="command" value="Edit" onclick="editfun();" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-success form-control sa-button" @ViewBag.vsave id="btnsave" name="command" value="@Model[0].Col13" />

                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-success form-control sa-button" @ViewBag.vsavenew id="btnsavenew" name="command" value='@Model[0].Col100' />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="button" class="btn btn-info form-control sa-button" id="btndetail" name="command" value="View" onclick="viewfun();" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="form-control sa-button sa-btncancel" id="btncancel" name="command" value="Cancel" onclick="cancelfun();" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(model => model[i].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[i].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[i].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[i].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[i].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[i].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[i].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[i].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[i].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[i].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[i].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[i].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[i].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[i].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[i].Col15, new { @id = "hf_m_id" })
        @*@Html.HiddenFor(model => model[i].Col16, new { @id = "hf_vch_num" })*@
        @Html.HiddenFor(model => model[i].Col35, new { @id = "Aera_vch_num" })
        @Html.HiddenFor(model => model[i].Col36, new { @id = "hf_file_entdate" })
        @Html.HiddenFor(model => model[i].Col37, new { @id = "hf_file_date" })
        @Html.HiddenFor(model => model[i].Col38, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
        <div class="clearfix"></div>
        <div class="row">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">


                        <div class="row">
                            <div class='col-sm-4'>
                                <label for="first-name">Copy From Other Material <span class="ClientProfileLabelColor">*</span></label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col16, new { @id = "txt_dock", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @ReadOnly = "true" })
                                        @*<asp:TextBox runat="server" ID="txt_partyname" CssClass="form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" onkeypress="return checkLength(this, 28,event);"></asp:TextBox>*@
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4'>
                                <label for="first-name">Doc No <span class="ClientProfileLabelColor">*</span></label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col16, new { @id = "txt_dock", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @ReadOnly = "true" })
                                        @*<asp:TextBox runat="server" ID="txt_partyname" CssClass="form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" onkeypress="return checkLength(this, 28,event);"></asp:TextBox>*@
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4'>
                                <label for="first-name">Doc Date <span class="ClientProfileLabelColor">*</span></label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col16, new { @id = "txt_dock", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @ReadOnly = "true" })
                                        @*<asp:TextBox runat="server" ID="txt_partyname" CssClass="form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" onkeypress="return checkLength(this, 28,event);"></asp:TextBox>*@
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4'>
                                <label for="first-name">Select Vedor <span class="ClientProfileLabelColor">*</span></label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col16, new { @id = "txt_dock", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @ReadOnly = "true" })
                                        @*<asp:TextBox runat="server" ID="txt_partyname" CssClass="form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" onkeypress="return checkLength(this, 28,event);"></asp:TextBox>*@
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4'>
                                <label for="first-name">Vedor Name<span class="ClientProfileLabelColor">*</span></label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col16, new { @id = "txt_dock", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @ReadOnly = "true" })
                                        @*<asp:TextBox runat="server" ID="txt_partyname" CssClass="form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" onkeypress="return checkLength(this, 28,event);"></asp:TextBox>*@
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4'>
                                <label for="first-name">Select Item<span class="ClientProfileLabelColor">*</span></label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col16, new { @id = "txt_dock", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @ReadOnly = "true" })
                                        @*<asp:TextBox runat="server" ID="txt_partyname" CssClass="form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" onkeypress="return checkLength(this, 28,event);"></asp:TextBox>*@
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>





                        </div>

                    </div>
                </div>
            </div>
        </div>
    }


    <input type="submit" id="callback1" formnovalidate value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
    <input type="submit" id="btn_class" formnovalidate value="Class" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}


<script type="text/javascript">
    debugger;
    $(document).ready(function () {
        @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
        onchange_warr('ddl_frnwarranty');
    });




    function newfun()
    {
        enableForm();
        $("[id*=btnsave]").attr("disabled", false);
        $("[id*=btnnew]").attr("disabled", true);
        $("[id*=btnedit]").attr("disabled", true);
    }

    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'VIEW', '0', '@viewName', '@controllerName'); }
    function getarea() { var data = show_Foo('Select Area ', 'AREA', '1', '@viewName', '@controllerName'); }



    function setTableDatat() {
        try {
            // calcamt();
            datatable = new Array();

            var heads = $("[id*=col_]");
            var rows = $(heads).eq(0).find("[id*=row_]");
            for (var r = 0; r < rows.length; r++) {
                var row = $("[id=row_" + r + "]");
                var arr = new Array();
                for (var h = 0; h < heads.length; h++) {
                    var obj = {};
                    obj[heads[h].children[0].innerText] = row[h].innerText;
                    arr.push(obj);
                }
                datatable.push(arr);
            }
        }
        catch (err) { alert(err); return; }
        $("#hftable").val(JSON.stringify(datatable));
        //PageMethods.settable(datatable);


    }

    function selectmhead(ctrl) {
        debugger;

        $(parent.document.getElementById('btn_class')).trigger('click');
    }

    function cancelfun()
    {
        $("[id*=btnnew]").attr("disabled", false);
        $("[id*=btnedit]").attr("disabled", false);
        $("[id*=btnsave]").attr("disabled", true);
        $("[id*=btndetail]").attr("disabled", false);
        $("[id*=btncancel]").attr("disabled", false);
        fillBlanks();
        disableForm();
    }

   

</script>
<script>
    function selectionIndexChange(ctrl) {
        debugger;
        javascript: __doPostBack(ctrl.id, '');
    }

    function onchange_warr(ctrl) {
        debugger;

        if ((ctrl.value == "") || (ctrl.value == "N")) {
            $("#ddlcur").hide();
        }

        else { $("#ddlcur").show(); }
    }
    function warrt() {
        debugger
        var icode = "", chkcode = "", ptype = "";
        ptype = "";
        var acode = $("#ddl_frnwarranty")[0].value;
        if (acode == "") { showmsgJS(1, "Please select Condition", 2); return; }
        else { $("#ddlcur").show(); }
    }
</script>


