
@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string MyGuid = EncryptDecrypt.Decrypt(Request.QueryString["m_id"]);
    sgenFun sgen = new sgenFun(MyGuid);
    string userCode = sgen.GetCookie(MyGuid, "userCode");
    Layout = "~/Views/Shared/_MasterPage.cshtml";

    var controllerName = @ViewContext.RouteData.Values["Controller"].ToString();
    var viewName = @Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
    sgen.SetSession(MyGuid, "viewName", viewName);
    sgen.SetSession(MyGuid, "controllerName", controllerName);
}


@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                        @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_head" })
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_mid" })
                    @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_m_id" })
                    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_m_id" })
                    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })

                    <div class="row">
                        <div class="col-sm-4">
                            <div style="border: 1px solid; font-size: 15px; font-weight: 800; padding: 30px;padding-bottom: 20px;">
                                @*<input type="button" onclick="btninvsl();" class="btn btn-success form-control sa-button" id="btn_inv" name="command" value="Invoice Wise Sales Summary" accesskey="po1" />*@
                                <input type="button" class="btn btn-success form-control sa-button" id="btn_ptysl" name="command" value="Party Wise Sale" onclick="call_filterfrm('Inv rpt','@Model[0].Col14','@Model[0].Col15','Party Wise Sale');" />

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div style="border: 1px solid; font-size: 15px; font-weight: 800; padding: 30px;padding-bottom: 20px;">
                                <input type="button" onclick="btninvsl();" class="btn btn-success form-control sa-button" id="btn_inv" name="command" value="Invoice Wise Sales Summary" accesskey="po1" />
                                @*<input type="button" class="btn btn-success form-control sa-button" id="btn_inv" name="command" value="Invoice Wise Sales Summary" onclick="call_filterfrm('Inv rpt','@Model[0].Col14','@Model[0].Col15','Invoice Wise Sales Summary');" />*@

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div style="border: 1px solid; font-size: 15px; font-weight: 800; padding: 30px;padding-bottom: 20px;">
                                @*<input type="button" onclick="btnitmsale();" class="btn btn-success form-control sa-button" id="btn_itm" name="command" value="Item Wise Sale" />*@
                                <input type="button" class="btn btn-success form-control sa-button" id="btn_itmwisesl" name="command" value="Item Wise Sale" onclick="call_filterfrm('Inv rpt','@Model[0].Col14','@Model[0].Col15','Item Wise Sale');" />

                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <div style="border: 1px solid; font-size: 15px; font-weight: 800; padding: 30px;padding-bottom: 20px;">
                                <input type="button" class="btn btn-success form-control sa-button" id="btn_hsn" name="command" value="HSN Wise Sale Summary" onclick="call_filterfrm('Inv rpt','@Model[0].Col14','@Model[0].Col15','HSN Wise Sale Summary');" />

                                @*<input type="button" onclick="btngethsn();" class="btn btn-success form-control sa-button" id="btn_hsn" name="command" value="HSN Wise Sale Summary" />*@
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>


    <input type="submit" id="callback1" value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}
<script type="text/javascript">

    $(document).ready(function () {
           @Html.Raw(ViewBag.scripCall)
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
    });

    @*function aselect() { var data = show_Foo('Select Module', 'MODULE', '1', '@viewName', '@controllerName'); }*@
    function btninvsl() { var data = show_Foo('Invoice Wise Sales Summary', 'INVOICE', '0', '@viewName', '@controllerName'); }
    function btnitmsale() { var data = show_Foo('Item Wise Sale', 'ITWS', '0', '@viewName', '@controllerName'); }
    function btngethsn() { var data = show_Foo('HSN Wise Sale Summary', 'HSNRPT', '0', '@viewName', '@controllerName'); }
    function callFoodemo(title, headid, mid, m_id, btnid) {
        var urls = "";
        //if (title == "Date Filter") { urls = "/Production/date_filter"; }
        if (title == "Dtcu Filter") { urls = "/Production/dtcu_filter"; }
        else urls = "/Inventory/filter_inv";

        $.ajax({
            type: "GET",
            url: urls,
            data: { "headid": headid, "mid": mid, "m_id": m_id, "btnid": btnid },
            success: function (pageContents) {
                //  debugger
                $('#myModal').width('50%');
                $('#myModalContent').html(pageContents);
                $('#myModalLabel')[0].innerText = title;
                $('#myModal').modal(options);
                $('#myModal').modal('show');

                hidewait();
            },
            error: function (err) {

                hidewait();
            }
        });
    }
    function call_filterfrm(headid, mid, m_id, btnid) {
        var title = "";
        if (btnid == "Party Wise Sale" || btnid == "Item Wise Sale" || btnid == "HSN Wise Sale Summary" || btnid == "Invoice Wise Sales Summary") { title = "Dtcu Filter"; }
        else title = "Inv reps";
        callFoodemo(title, headid, mid, m_id, btnid);
    }
</script>

