@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string clr = "";
    string MyGuid = EncryptDecrypt.Decrypt(Request.QueryString["m_id"]);
    sgenFun sgen = new sgenFun(MyGuid); string mandatory = "sa-mandatory";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    string userCode = sgen.GetCookie(MyGuid, "userCode");
    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
    #region buttons
    string buttons = "";
    buttons += "<div class='col-md-8'>" +
"        <div class='row'>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vnew + " formnovalidate id='btnnew' name='command' value='New' accesskey='N'><u>N</u>ew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vedit + " id='btnedit' name='command' value='Edit' accesskey='I' onclick='editfun();'>Ed<u>i</u>t</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'> " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsave + " id='btnsave' name='command' value= '" + Model[0].Col13 + "' accesskey = '" + Model[0].Col121 + "' > " + Html.Raw(Model[0].Col122) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
//"            <div class='col-sm-2'>" +
//"                <div class='form-group'> " +
//"                    <div class='input-group'>" +
//"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsavenew + " id='btnsavenew' name='command' value= '" + Model[0].Col100 + "' accesskey ='W'> " + Html.Raw(Model[0].Col123) + "</button>" +
//"                        <span class='input-group-addon formclass'></span>" +
//"                    </div>" +
//"                </div>" +
//"            </div>" +
//"            <div class='col-sm-2' > " +
//"                <div class='form-group'>" +
//"                    <div class='input-group'>" +
//"                        <button type='button' class='btn btn-primary form-control sa-button' id='btndetail' name='command' value='View' accesskey='V' onclick='viewfun();'><u>V</u>iew</button>" +
//"                        <span class='input-group-addon formclass'></span>" +
//"                    </div>" +
//"                </div>" +
//"            </div>" +
//<div class='col-sm-2' > " +
//    <div class='form-group'>" +
//        <div class='input-group'>" +
//            <button type='button' class='btn btn-primary form-control sa-button' id='btnprimary' name='command' value='Print' accesskey='P' onclick='printfun();'><u>P</u>rint</button>" +
//            <span class='input-group-addon formclass'></span>" +
//        </div>" +
//    </div>" +
//</div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='form-control sa-button sa-btncancel' formnovalidate id='btncancel' name='command' value='Cancel' accesskey='C'><u>C</u>ancel</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"        </div>" +
"    </div>";
    #endregion
}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3 id="hd_title">@Model[0].Col9</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        @Html.Raw(buttons)
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class='col-sm-3'>
                            <label for="first-name">Doc No<span class="ClientProfileLabelColor"> </span></label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col16, new { @id = "hf_vch", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Doc No.", @readonly = "true" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        @*<div class='col-sm-3'>
            <label for="first-name">Doc Date<span class="ClientProfileLabelColor"> *</span></label>
            <div class="form-group ">
                <div class='input-group'>
                    @Html.TextBoxFor(model => model[0].Col17, new { @id = "doc_date", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date", placeholder = "Doc Date" })
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>*@
                        <div class='col-sm-3'>
                            <label for="first-name">Reconcilition Date<span class="ClientProfileLabelColor"> *</span></label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col17, new { @id = "rec_date", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date sa-mandatory", placeholder = "Reconcilition Date" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <label for="first-name">Display Cleared Entries<span class="ClientProfileLabelColor"> </span></label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.CheckBoxFor(model => model[0].Chk1, new { @id = "chkreco", @class = "sa-input checkbox", onclick = "showcleared();" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <label for="first-name">
                                Balance As Per Bank (A)<span class="ClientProfileLabelColor" title="Put (-) Sign In Case Of Cr Amount"> *</span>
                            </label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col19, new { @id = "checkamt", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", placeholder = "Balance As Per Bank", onkeydown = "return isDecimalKey(event);", onblur = "getdiff();" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-6'>
                            <label for="first-name">Bank Account<span class="ClientProfileLabelColor"> *</span></label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.DropDownListFor(model => model[0].SelectedItems1, new MultiSelectList(Model[0].TList1, "Value", "Text", Model[0].SelectedItems1), new { @id = "ddl_bank", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @MaxLength = "20", @style = "width:100%", @multiple = "multiple",onchange= "ledger_SelectedIndexChanged();" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                            <div class='col-sm-3'>
                                <label for="first-name">Auto Fill Dates<span class="ClientProfileLabelColor"></span></label>
                                <div class="form-group ">
                                    <div class='input-group'>
                                        @Html.CheckBoxFor(model => model[0].Chk2, new { @id = "chkdates", @class = "sa-input checkbox", onclick = "filldates(this);" })
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class='input-group'>
                                        <button type="submit" class="btn btn-primary form-control sa-button" formnovalidate id="btn_filldata" name="command" value="Fill Data" accesskey="F"><u>F</u>ill Data</button>
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class='col-sm-4'>
                            <label for="first-name">Closing Balance(B)<span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col21, new { @id = "cbal", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Closing Balance", onkeydown = "return false;" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">Chq Deposit Not yet Cleared(C)<span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col22, new { @id = "chqdeposit", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Chq Deposit Not yet Cleared", onkeydown = "return false;" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">Chq Issue Not Yet Cleared(D)<span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col23, new { @id = "chqissue", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Chq Issue Not Yet Cleared", onkeydown = "return false;" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">Calc Bank Balance E=(B-C+D)<span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col24, new { @id = "bankbalance", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Calc Bank Balance", onkeydown = "return false;" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">Difference (A-E)<span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group ">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col25, new { @id = "diff", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Difference", onkeydown = "return false;" })
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row" id="ref_grid">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div class="row">
                                            <div class='col-sm-1'><label for="first-name">VCHNUM</label></div>
                                            <div class='col-sm-1'><label for="first-name">VCHDATE</label></div>
                                            <div class='col-sm-2'><label for="first-name">CHEQUE NO.</label></div>
                                            <div class='col-sm-2'><label for="first-name">DEBITS</label></div>
                                            <div class='col-sm-2'><label for="first-name">CREDITS</label></div>
                                            <div class='col-sm-2'><label for="first-name">BANK DATE</label></div>
                                            <div class='col-sm-2'><label for="first-name">NARRATION</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 smt">
                                    <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important; @clr">
                                        <div class="x_content">
                                            <div id="Table1" class="row table-responsive">
                                                <div class="col-sm-1">
                                                    <div class="form-group">
                                                        <div class='input-group'>
                                                            @Html.DisplayFor(model => model[i].Col30, new { @id = "VCHNO_" + i + "", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                                            @Html.HiddenFor(model => model[i].Col30, new { @id = "VCHNO_" + i + "" })
                                                            <span class="input-group-addon formclass"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-1'>
                                                    <div class="form-group">
                                                        <div class='input-group'>
                                                            <div class=" clearfix"></div>
                                                            @Html.DisplayFor(model => model[i].Col31, new { @id = "VCHDATE_" + i + "", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                                            @Html.HiddenFor(model => model[i].Col31, new { @id = "VCHDATE_" + i + "" })
                                                            <span class="input-group-addon formclass"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-2'>
                                                    <div class="form-group">
                                                        <div class='input-group'>
                                                            @Html.DisplayFor(model => model[i].Col32, new { @id = "CHEQUES_" + i + "", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                                            @Html.HiddenFor(model => model[i].Col32, new { @id = "CHEQUES_" + i + "" })
                                                            <span class="input-group-addon formclass"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-2'>
                                                    <div class="form-group">
                                                        <div class='input-group'>
                                                            @Html.DisplayFor(model => model[i].Col33, new { @id = "DRAMT_" + i + "", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                                            @Html.HiddenFor(model => model[i].Col33, new { @id = "DRAMT_" + i + "" })
                                                            <div class=" clearfix"></div>
                                                            <span class="input-group-addon formclass"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-2'>
                                                    <div class="form-group">
                                                        <div class='input-group'>
                                                            @Html.DisplayFor(model => model[i].Col34, new { @id = "CRAMT_" + i + "", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                                            @Html.HiddenFor(model => model[i].Col34, new { @id = "CRAMT_" + i + "" })
                                                            <div class=" clearfix"></div>
                                                            <span class="input-group-addon formclass"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-2'>
                                                    <div class="form-group">
                                                        <div class='input-group'>
                                                            @Html.TextBoxFor(model => model[i].Col35, new { @id = "BANKDATE_" + i + "",@value= Model[i].Col35, @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date" })
                                                            <div class=" clearfix"></div>
                                                            <span class="input-group-addon formclass"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-2'>
                                                    <div class="form-group">
                                                        <div class='input-group'>
                                                            @Html.DisplayFor(model => model[i].Col36, new { @id = "NARRATION_" + i + "", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox" })
                                                            @Html.HiddenFor(model => model[i].Col36, new { @id = "NARRATION_" + i + "" })
                                                            <div class=" clearfix"></div>
                                                            <span class="input-group-addon formclass"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    {
        @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
        @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
        @Html.HiddenFor(model => model[0].Col121, new { @id = "Update" })
        @Html.HiddenFor(model => model[0].Col122, new { @id = "Save" })
        @Html.HiddenFor(model => model[0].Col123, new { @id = "savenew" })
        @*@Html.HiddenFor(model => model[0].Col16, new { @id = "hf_vchnum" })*@
    }
    <input type="submit" id="btn_bank" formnovalidate value="Closing" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
    <input type="submit" id="callback1" formnovalidate value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}
<script type="text/javascript">
    $(document).ready(function () {
        @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
        //filldates(document.getElementById("chkdates"));
        filldrcr();
        calcfun();
        getdiff();
    });
    function ledger_SelectedIndexChanged() {
        $('#btn_bank').click();
    }
    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'VIEW', '0', '@viewName', '@controllerName'); }
    @*function PARTY() {
        var vchdate = $("#ddl_bank")[0].value;
        if (vchdate == "") { showmsgJS(1, "Please Fill Document Date", 2); return; }
        var data = show_Foo('Select Ledger', 'PARTY', '1', '@viewName', '@controllerName', vchdate);
    }*@
    function printfun() { showwait(); var data = show_Foo('Select Voucher For Print', 'PRINT', '1', '@viewName', '@controllerName'); }
    function filldates(checkbox) {
        var check = $(checkbox)[0].checked;
        var dates = $("[id*=BANKDATE]");
        var rec_date = $("#rec_date")[0].value;
            for (var i = 0; i < dates.length; i++) {
                if (check) {
                    if (rec_date == "") {
                        showmsgJS(1, "Please Select Reconciliation Date", 2);
                        $("#chkdates").prop("checked", false);
                        return;
                    }
                    dates[i].value = rec_date;
                }
                else {
                    dates[i].value = "";
                }
            }
        }
        function filldrcr() {
            var DRS = $("[id*=DRAMT]");
            var totamt = 0;
            for (var i = 0; i < DRS.length; i++) {
                if (DRS[i].value != "") {
                    totamt += parseFloat(DRS[i].value);
                }
                else {
                    totamt += 0;
                }
            }
            $("#chqdeposit")[0].value = totamt;
            var CRS = $("[id*=CRAMT]");
            var totamt2 = 0;
            for (var i = 0; i < CRS.length; i++) {
                if (CRS[i].value != "") {
                    totamt2 += parseFloat(CRS[i].value);
                }
                else {
                    totamt2 += 0;
                }
            }
            $("#chqissue")[0].value = totamt2;
    }
    function calcfun() {
        debugger
        var C = $("#chqdeposit")[0].value;
        var D = $("#chqissue")[0].value;
        var B  = $("#cbal")[0].value;
        if (B != "" && C != "" && D != "") {
            $("#bankbalance")[0].value = (parseFloat(B) - parseFloat(C) + parseFloat(D));
        }
    }
    function getdiff() {
        debugger
        var E = $("#bankbalance")[0].value
        var A = $("#checkamt")[0].value
        if (E != "" && A != "") {
            $("#diff")[0].value = (parseFloat(A) - parseFloat(E));
        }
    }
    function filldates(checkbox) {
        var check = $(checkbox)[0].checked;
        var dates = $("[id*=BANKDATE]");
        var rec_date = $("#rec_date")[0].value;
            for (var i = 0; i < dates.length; i++) {
                if (check) {
                    if (rec_date == "") {
                        showmsgJS(1, "Please Select Reconciliation Date", 2);
                        $("#chkdates").prop("checked", false);
                        return;
                    }
                    dates[i].value = rec_date;
                }
                else {
                    dates[i].value = "";
                }
            }
        }
    function showcleared() {
        var vchdate = $("#ddl_bank")[0].value;
        if (vchdate == "") {
            showmsgJS(1, "Please Select Bank", 2);
            $("#chkreco").prop("checked", false);
            return;
        }
        $('#btn_filldata').click();
    }
</script>

