@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string MyGuid = "";
    //MyGuid = EncryptDecrypt.Decrypt(Model[0].Col15);
    sgenFun sgen;
    sgen = new sgenFun(Model[0].Col15);

    string mandatory = "sa-mandatory";
    string userCode = sgen.GetCookie(Model[0].Col15, "userCode");
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var viewName = sgen.GetSession(Model[0].Col15, "viewName").ToString();
    var controllerName = sgen.GetSession(Model[0].Col15, "controllerName").ToString();
}

@using (Html.BeginForm("doc_master", "Mst", new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                @if ((Model[0].Col14.Equals("17001.5")) || (Model[0].Col14.Equals("41005.1")))
                {
                    @*<div class="col-sm-2">
                        <div class="form-group">
                            <div class='input-group'>
                                <input type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vnew id="btnnew" name="command" value="New" accesskey="N" />
                                <span class="input-group-addon formclass"></span>
                            </div>
                        </div>
                    </div>*@
                }

                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="button" class="btn btn-primary form-control sa-button" @ViewBag.vedit id="btnedit" name="command" value="Edit" accesskey="E" onclick="editfun();" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vsave id="btnsave" name="command" value=@Model[0].Col13 accesskey="S" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="button" class="btn btn-primary form-control sa-button" id="btndetail" name="command" value="View" accesskey="V" onclick="viewfun();" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="form-control sa-button sa-btncancel" formnovalidate id="btncancel" name="command" value="Cancel" accesskey="C" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>

                @if ((!Model[0].Col14.Equals("17001.5")) && (!Model[0].Col14.Equals("41005.1")))
                {
                    <div class='col-sm-2'>
                        <div class="form-group">
                            <div class='input-group'>
                                <input type="button" class="btn btn-primary form-control sa-button" onclick="extfun();" id="btnext" name="command" value="Extend" />
                                <span class="input-group-addon formclass"></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(model => model[i].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[i].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[i].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[i].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[i].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[i].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[i].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[i].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[i].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[i].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[i].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[i].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[i].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[i].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[i].Col15, new { @id = "hf_m_id" })
        @Html.HiddenFor(model => model[i].Col23, new { @id = "hf_mno" })
        @Html.HiddenFor(model => model[i].Col24, new { @id = "hf_evaltype" })        
        @Html.HiddenFor(model => model[i].Col100, new { @id = "hf_savenew" })

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="clearfix"></div>
                    <div class="x_content">
                        <div id="div_form" data-parsley-validate="" class="form-horizontal">

                            @if ((Model[i].Col14.Equals("17001.5")) || (Model[i].Col14.Equals("41005.1")))
                            {
                                @*<div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-sm-offset-1">Group Type <span class="ClientProfileLabelColor">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model[0].SelectedItems1, new MultiSelectList(Model[0].TList1, "Value", "Text", Model[0].SelectedItems1), new { @id = "ddl_grptype", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", @multiple = "multiple", @MaxLength = "20", @style = "width:100%", @onchange = "get_grptype();" })
                </div>
            </div>*@

                                @*<div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-sm-offset-1">Inventory Evaluation </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <b>FIFO </b>
                    @Html.RadioButtonFor(model => model[0].Col24, "001", new { @id = "rdY", @class = "sa-input radio", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                    <b style="margin-left:5px">Average Moving Price </b>
                    @Html.RadioButtonFor(model => model[0].Col24, "002", new { @id = "rdN", @class = "sa-input radio", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>*@
                            }

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-sm-offset-1">Doc No.<span class="ClientProfileLabelColor">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model[i].Col16, new { @id = "txt_vchnum", @ReadOnly = "true", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", placeholder = "Doc No." })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-sm-offset-1">@Model[i].Col19 <span class="ClientProfileLabelColor">*</span></label>
                                @Html.HiddenFor(model => model[i].Col19, new { @id = "hf_headname" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @*@if (Model[i].Col14.Equals("28004.7") || Model[i].Col14.Equals("17001.7") || Model[i].Col14.Equals("17001.9") || Model[i].Col14.Equals("39001.9") || Model[i].Col14.Equals("17001.12"))
                {*@
                                    @Html.TextBoxFor(model => model[i].Col20, new { @id = "txt_name", @ReadOnly = "true", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", placeholder = "" + Model[i].Col19 + "", @MaxLength = "60" })
                                    @*}
                else
                {
                    @Html.TextBoxFor(model => model[i].Col20, new { @id = "txt_name", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", data_placeholder = "Enter Name", @MaxLength = "60" })
                }*@
                                </div>
                            </div>

                            <div class="form-group hidectrl">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-sm-offset-1">ISO <span class="ClientProfileLabelColor">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model[i].Col17, new { @id = "txt_iso", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Enter Name", @MaxLength = "19" })
                                </div>
                            </div>

                            <div class="form-group hidectrl">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-sm-offset-1">Pattern <span class="ClientProfileLabelColor">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model[i].Col18, new { @id = "txt_pattern", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Enter Name", @MaxLength = "19" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-sm-offset-1">Description <span class="ClientProfileLabelColor">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model[i].Col22, new { @id = "txt_valabbr", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", placeholder = "Description", @MaxLength = "60" })
                                </div>
                            </div>
                            @if (Model[0].Col14 == "21001.12" || Model[0].Col14 == "28004.7" || Model[0].Col14 == "17001.7")
                            {
                            <div class="row">
                                <div class="form-group">
                                    <a causesvalidation="false" data-toggle="tooltip" data-placement="top" title="Select Account" id="spn_add" tooltip="Select Account" onclick="selectparty(this);"><i class="fa fa-search"></i></a>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12 col-sm-offset-1">Account Code<span class="ClientProfileLabelColor">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model[i].Col25, new { @id = "txt_accode", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", placeholder = "Account Code",onkeydown="return false;", @MaxLength = "60" })
                                        @*<span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select Account" id="spn_add" onclick="selectparty(this);"><i class="fa fa-search"></i></span>*@
                                    </div>
                                </div>
                                </div>
                            
                            }

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 col-sm-offset-1" for="first-name">Status <span class="ClientProfileLabelColor">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <b style="padding-top:12px">Active</b>
                                    @Html.RadioButtonFor(model => model[i].Col21, "Active", new { @id = "rd_Active", @class = " sa-input radio " + mandatory + "", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                    <b style="padding-top:12px">Inactive</b>
                                    @Html.RadioButtonFor(model => model[i].Col21, "Inactive", new { @id = "rd_Inactive", @class = " sa-input radio " + mandatory + "", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <input type="submit" id="callback1" value="Callback" formnovalidate name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
    <input type="submit" id="hfbtnok" value="btnok" name="Command" title="btnok" style="visibility:hidden" class="btn btn-primary" />
}

<script type="text/javascript">

    $(document).ready(function () {
        @Html.Raw(ViewBag.scripCall);

        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
    });

    function get_grptype() { $("#btn_grptype").click(); }

   //////EDIT CLICK
    function editfun() {
        var mid = $("#hf_mid")[0].value;
        var data = show_Foo('Select Master Type', 'MTYPE', '1', '@viewName', '@controllerName', mid);
    }

    ///////// VIEW CLICK
    function viewfun() {
        var mid = $("#hf_mid")[0].value;
        var data = show_Foo('View Master Type', 'MTYPE', '0', '@viewName', '@controllerName', mid);
    }

    function extfun() { var data = show_Foo('Extend To Unit', 'MEXT', '1', '@viewName', '@controllerName'); }
    function selectparty() {
        var mid = $("#hf_mid")[0].value;
        if (mid == "21001.12") {
            var data = show_Foo('Select Account', 'PARTY', '1', '@viewName', '@controllerName', "401");
        }
        else if (mid == "28004.7" || mid == "17001.7") {
            var data = show_Foo('Select Account', 'PARTY', '1', '@viewName', '@controllerName', "501");
        }
        else {
            var data = show_Foo('Select Account', 'PARTY', '1', '@viewName', '@controllerName', "");
        }
    }

</script>
