
@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string MyGuid = "";
    MyGuid = (Model[0].Col15);
    sgenFun sgen;
    sgen = new sgenFun(MyGuid);

    string mandatory = "sa-mandatory";
    string userCode = sgen.GetCookie(MyGuid, "userCode");
    ViewBag.Title = "SMS API Settings";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();


}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-sm-9">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@ViewBag.Title</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
              
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-success form-control sa-button" @ViewBag.vsave id="btnsave" name="command" value="Save" accesskey="S" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(model => model[i].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[i].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[i].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[i].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[i].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[i].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[i].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[i].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[i].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[i].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[i].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[i].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[i].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[i].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[i].Col15, new { @id = "hf_m_id" })
        @Html.HiddenFor(model => model[i].Col16, new { @id = "hf_vchnum" })


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="clearfix"></div>
                    <div class="x_content">


                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel" style="padding: 3px 15px !important">
                                    <div class="x_title" style="padding: 0px !important; border-bottom: 0px !important" onclick="hidep(this);">

                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a id="ahide1" class="a_panel"><i class="fa fa-chevron-up"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div class="row">
                                            <div class='col-sm-4'>
                                                <label for="first-name">API Provider<span class="ClientProfileLabelColor"> *</span></label>
                                                <div class="form-group">
                                                    <div class='input-group'>
                                                        @Html.DropDownListFor(model => model[i].SelectedItems1, new MultiSelectList(Model[i].TList1, "Value", "Text", Model[i].SelectedItems1), new { @id = "ddl_nationality", placeholder = "First Name", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @multiple = "multiple", @MaxLength = "20" })
                                                        <span class="input-group-addon formclass"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class='col-sm-4'>
                                                <label for="first-name">User Name<span class="ClientProfileLabelColor"> *</span></label>
                                                <div class="form-group">
                                                    <div class='input-group'>

                                                        @Html.TextBoxFor(model => model[i].Col22, new { @id = "txt_id", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "User name" })

                                                        <span class="input-group-addon formclass"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-4'>
                                                <label for="first-name">Password<span class="ClientProfileLabelColor"> *</span></label>
                                                <div class="form-group">
                                                    <div class='input-group'>
                                                        @Html.TextBoxFor(model => model[i].Col23, new { @id = "txt_pass", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", placeholder = "Password" })
                                                        <span class="input-group-addon formclass"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">


                                            <div class='col-sm-4'>
                                                <label for="first-name">senderID<span class="ClientProfileLabelColor"> *</span></label>
                                                <div class="form-group has-success">
                                                    <div class='input-group'>
                                                        @Html.TextBoxFor(model => model[i].Col24, new { @id = "txt_firstname", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", placeholder = "SenderId", @MaxLength = "28" })
                                                        <span class="input-group-addon formclass"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-4'>
                                                <label for="first-name">Route<span class="ClientProfileLabelColor"> *</span></label>
                                                <div class="form-group has-success">
                                                    <div class='input-group'>
                                                        @Html.TextBoxFor(model => model[i].Col25, new { @id = "txt_firstname", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + "", placeholder = "Route", @MaxLength = "28" })
                                                        <span class="input-group-addon formclass"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class='col-sm-2'>
                                                <label style="color:white">.</label>
                                                <div class="form-group">
                                                    <div class='input-group'>

                                                        <input type="button" class="btn btn-info form-control sa-button" id="btndetail" name="command" value="Check Balance" onclick="checkbal();" accesskey="V" />


                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-4'>
                                                <label style="color:white">.</label>
                                                <div class="form-group">
                                                    <div class='input-group'>
                                                        <label id="lblbal">Current SMS Balance:  0</label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    <input type="submit" id="callback1" formnovalidate value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}


<script type="text/javascript">

    $(document).ready(function () {
         @Html.Raw(ViewBag.scripCall);

        checkbal();
    });


    function checkbal() {
        
      
        var obj = { "id": $("#txt_id").val(), "pass": $("#txt_pass").val() };
        myMethod_C('@controllerName', '@viewName', "smsbal", obj,sucs, fails);
    }
    function sucs(res) {

        $("#lblbal")[0].innerText = "Current SMS Balance:  " + res;

    }
    function fails(res) {

        alert(res);
    }



    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName','@controllerName'); }

    ///////// VIEW CLICK
    function viewfun() { var data = show_Foo('View Detail Of Employees', 'DETAIL', '0', '@viewName','@controllerName'); }

    /////// cancel click
    function cancelfun() {
        $("[id*=btnnew]").attr("disabled", false);
        $("[id*=btnedit]").attr("disabled", false);
        $("[id*=btnsave]").attr("disabled", true);
        $("[id*=btndetail]").attr("disabled", false);
        $("[id*=btncancel]").attr("disabled", false);
        fillBlanks();
        disableForm();

    }


    </script>