@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    string MyGuid = EncryptDecrypt.Decrypt(Request.QueryString["m_id"]);
    sgenFun sgen = new sgenFun(MyGuid);
    string userCode = sgen.GetCookie(MyGuid, "userCode");

    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();

    var isep = false;
}

@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { id = "IAccount", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                        @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-primary form-control sa-button" id="btnsave" @ViewBag.vsave onclick="setTableDatat();" name="command" value=@Model[0].Col13 accesskey="S" />
                            @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-primary form-control sa-button" id="btnimport" @ViewBag.vimport name="command" value="Import" onclick="setTableDatat();" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn form-control sa-button sa-btncancel" formnovalidate id="btncancel" onclick="setTableDatat();" name="command" value="Cancel" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
    @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
    @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
    @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
    @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
    @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
    @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
    @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })
    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
    @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
    @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
    @Html.HiddenFor(model => model[0].Col16, new { @id = "hf_chknew" })
    @Html.HiddenFor(model => model[0].Col17, new { @id = "hf_param5" })
    @Html.HiddenFor(model => model[0].Col18, new { @id = "hf_col18" })

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="clearfix"></div>
                <div class="x_content">

                    <div class="row">
                        <div class='col-sm-4'>
                            <label for="first-name"></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    <label for="first-name">Download Template Here <i class="fa fa-2x fa-hand-o-right" style="margin-right: 10px"></i></label>
                                    <a id="Itemp" style="cursor:pointer" onclick="setTableDatat();Itemp(event);">Accounts</a>
                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <label for="first-name">Upload Items</label>
                            @try
                            {
                                var plist = Model[0].LTM1.Where(m => m.Col2 == "Items").ToList();
                                isep = plist.Count > 0;
                            }
                            catch (Exception err) { }
                            @if (isep)
                            {
                                <div class="form-group">
                                    <div class='input-group'>
                                        <label>File Already Attached</label>
                                    </div>
                                </div>
                            }
                            @if (!isep)
                            {
                                <div class="form-group">
                                    <div class='input-group'>
                                        <img id="imgupd1" src="../../images/file-upload-button.png" onclick="imgclick(this);" style="max-width: 120px" />
                                        <input id="upd1" runat="server" onchange="fileselected(this);" style="visibility: hidden; height: 0; width: 0" multiple="multiple" name="upd1" type="file" />
                                        <span onclick="imgclick(this);" ID="spanupd1">@Model[0].Col22</span>
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class='col-sm-12'>
                            <h3>ALL ACCOUNTS :- @Html.DisplayFor(model => model[0].Col19, new { @id = "lbl_head" })</h3>
                            @Html.HiddenFor(model => model[0].Col19, new { @id = "hf_head" })
                        </div>
                    </div>
                    <div class="row">
                        <style>
                           
                        </style>
                        @if (Model.Count < 1)
                        { }
                        else
                        {
                            for (int i = 0; i < Model.Count; i++)
                            {
                                DataTable dtm = Model[i].dt1;
                                if (dtm != null)
                                {
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel" style="padding: 3px 15px !important">

                                            <div class="x_content">
                                                <div class="row">
                                                    <div class="grid-container">
                                                        <div class="grid">

                                                            @foreach (DataColumn dc in dtm.Columns)
                                                            {
                                                                try
                                                                {
                                                                    //string haserror = "false", bgclr = "";
                                                                    //try
                                                                    //{
                                                                    //    var headid = dc.ColumnName.Split('(')[1].Split(')')[0].ToString();
                                                                    //    var res = sgen.seekval(userCode, "select vch_num from kc_tab where type='KLV' and client_id='" + clientid_mst + "' " +
                                                                    //        "and client_unit_id='" + unitid_mst + "' and vch_num='" + headid + "'", "vch_num").ToString().ToUpper();

                                                                    //    if (res == "0")
                                                                    //    {
                                                                    //        haserror = "true";
                                                                    //        bgclr = "style='background-color:grey;text-decoration:line-through;'";
                                                                    //    }
                                                                    //}
                                                                    //catch (Exception err) { }

                                                                    int mlength = 20;
                                                                    try
                                                                    {
                                                                        mlength = dtm.Select("[" + dc.ColumnName + "] = MAX([" + dc.ColumnName + "])")[0][dc.ColumnName].ToString().Length;
                                                                    }
                                                                    catch (Exception err) { }

                                                                    int collength = dc.ColumnName.ToString().Length;
                                                                    if (collength > mlength) { mlength = collength; }
                                                                    int k = 0;
                                                                    if (dc.Ordinal == 0)
                                                                    {
                                                                        <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:250px;z-index:10;left:0px;position:sticky;">
                                                                            <div class="grid-item grid-item--header">
                                                                                <p>@dc.ColumnName.ToString()</p>
                                                                            </div>

                                                                            @foreach (DataRow dr in dtm.Rows)
                                                                            {
                                                                                <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="false">
                                                                                    @if (!dr[dc].ToString().Contains("-"))
                                                                                    {
                                                                                        <label>@(k + 1) - </label>
                                                                                    }
                                                                                    @dr[dc].ToString()
                                                                                </div>
                                                                                k++;
                                                                            }
                                                                        </div>
                                                                    }
                                                                    else if (dc.Ordinal == 27)
                                                                    {
                                                                        <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:250px;z-index:10;left:140px">
                                                                            <div class="grid-item grid-item--header">
                                                                                <p>@dc.ColumnName.ToString()</p>
                                                                            </div>
                                                                            @foreach (DataRow dr in dtm.Rows)
                                                                            {
                                                                                <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="false">
                                                                                    @dr[dc].ToString()
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    }
                                                                    else if (dc.Ordinal == 4)
                                                                    {
                                                                        <div class="grid-col grid-col--fixed-left" id="col_@dc.Ordinal" style="width:160px;z-index:10;left:140px">
                                                                            <div class="grid-item grid-item--header">
                                                                                <p>@dc.ColumnName.ToString()</p>
                                                                            </div>
                                                                            @foreach (DataRow dr in dtm.Rows)
                                                                            {
                                                                                <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="false">
                                                                                    @dr[dc].ToString()
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    }
                                                                    else if (dc.Ordinal > 4)
                                                                    {
                                                                        <div class="grid-col" id="col_@dc.Ordinal" style="width:@(mlength * 8)px">
                                                                            <div class="grid-item grid-item--header">
                                                                                <p>@dc.ColumnName.ToString()</p>
                                                                            </div>
                                                                            @foreach (DataRow dr in dtm.Rows)
                                                                            {
                                                                                <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="true">
                                                                                    @dr[dc].ToString()
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="grid-col" id="col_@dc.Ordinal" style="width:@(mlength * 8)px">
                                                                            <div class="grid-item grid-item--header">
                                                                                <p>@dc.ColumnName.ToString()</p>
                                                                            </div>
                                                                            @foreach (DataRow dr in dtm.Rows)
                                                                            {
                                                                                <div class="grid-item" id='row_@dtm.Rows.IndexOf(dr)' contenteditable="false">
                                                                                    @dr[dc].ToString()
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    }
                                                                }
                                                                catch (Exception ex) { }
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="hfrow" id="hfrow" />
    <input type="hidden" name="hftable" id="hftable" />
    <input type="submit" id="callback1" value="Callback" name="Command" onclick="setTableDatat();" title="callback" style="visibility:hidden" class="btn btn-primary" />
}

<script type="text/javascript">

    $(document).ready(function () {
          @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
    });

    // EDIT CLICK
    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }

    // VIEW CLICK
    function viewfun() { var data = show_Foo('View Detail Of Employees', 'DETAIL', '0', '@viewName', '@controllerName'); }

    function fileselected(ctrl) {
        var files = ctrl.files;
        var cnts = files.length;
        $(ctrl).parent().parent().find("span").css("color", "blue");
        for (var k = 0; k < cnts; k++) {

            var file = files[k];
            var namelen = file.name.length;
            if (namelen > 40) {
                $(ctrl).parent().parent().find("span")[0].innerText = "Sorry!! The file name can not be more than 38 Chars";
                $(ctrl).parent().parent().find("span").css("color", "red");
                return;
            }
            var ext = file.name.match(/\.(.+)$/)[1];
            switch (ext) {
                case 'csv':
                    break
                default:
                    $(ctrl).parent().parent().find("span")[0].innerText = "Sorry!! Upload only xls,xlsx file";
                    $(ctrl).parent().parent().find("span").css("color", "red");
                    return;
                    break;
            }

            //var filesize = file.size / 1024 / 1024;
            var filesize = file.size / 1024;
            if (filesize < 1000) {
                var filenme = file.name.split('\\');
                var lenn = filenme.length;
                var namee = filenme[lenn - 1];
                if (cnts > 1) {
                    $(ctrl).parent().parent().find("span")[0].innerText = cnts + " File Selected";
                }
                else { $(ctrl).parent().parent().find("span")[0].innerText = namee; }
            }
            else {
                $(ctrl).parent().parent().find("span")[0].innerText = 'Sorry!! This file size is:' + filesize + 'Kb Max. Allowed size is 1000Kb';
                $(ctrl).parent().parent().find("span").css("color", "red");
            }
        }
    }
    function imgclick(ctrl) {
        $(ctrl).closest('div').find("input[type=file]").click();
    }

    function setTableDatat() {
        try {

            datatable = new Array();

            var heads = $("[id*=col_]");
            var rows = $(heads).eq(0).find("[id*=row_]");
            for (var r = 0; r < rows.length; r++) {
                var row = $("[id=row_" + r + "]");
                var arr = new Array();
                for (var h = 0; h < heads.length; h++) {
                    var obj = {};
                    var vall = row[h].innerText;

                    if (h == 0 && vall.includes('-')) {
                        vall = vall.split('-')[1].toString().trim();
                    }
                    obj[heads[h].children[0].innerText] = vall
                    arr.push(obj);
                }
                datatable.push(arr);
            }
        }
        catch (err) { alert(err); return; }
        $("#hftable").val(JSON.stringify(datatable));
    }
    function sethfval(val) {

        $("#hfrow").val(val);
        setTableDatat();
    }

    @*function Itemp(evt) {
        //debugger;
          evt.preventDefault();
        var $form = $("#IAccount");

          $.ajax({
              type: "POST",
              url: "/VASTU/SetSession",
              data: $form.serialize() + "&Name=model",
              dataType: "json",
              traditional: true,
              success: function (response) {
                  window.location.href = "@Url.RouteUrl(new { Controller = "vastu", Action = "IAccount" })";
              },
              error: function (err) { }
          });
    }*@

    function Itemp(evt) {
          evt.preventDefault();
        var $form = $("#IAccount");

          $.ajax({
              type: "POST",
              url: "/VASTU/SetSession",
              data: $form.serialize() + "&Name=model",
              dataType: "json",
              traditional: true,
              success: function (response) {
                  window.location.href = "@Url.RouteUrl(new { Controller = "Vastu", Action = "IAccount" })";
              },
              error: function (err) {
                   window.location.href = "@Url.RouteUrl(new { Controller = "Vastu", Action = "IAccount" })";
              }
          });
    }

</script>
