@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{

    string MyGuid = EncryptDecrypt.Decrypt(Request.QueryString["m_id"]);
    sgenFun sgen = new sgenFun(MyGuid);
    string userCode = sgen.GetCookie(MyGuid, "userCode");

    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
    Cmd_Fun cmd_fun = new Cmd_Fun(MyGuid);
    Layout = "~/Views/Shared/_MasterPage.cshtml";


    string mandatory = "sa-mandatory";

    DataTable tmp = sgen.getdata(userCode, "select id,param1,param2,upper(param3) param3 ,name from controls where trim(upper(param5))='LEAD SITE VISIT' and type='VDC'");
    Session["lead_visit"] = tmp;
    var issp = false;
    var imgclosedisplay = "";
    string basestr = "", imgdisplay = "", base64 = "";
    string cg_com_name = sgen.GetCookie(MyGuid, "cg_com_name");
    string serverpath = Server.MapPath("~/Uploads/" + cg_com_name.Replace(" ", "") + "/");
    var path = "";

    var newstyle = "style=visibility:visible;";
    var editstyle = "style=visibility:visible;";
    var savestyle = "style=visibility:visible;";
    var savenewstyle = "style=visibility:visible;";
    var viewstyle = "style=visibility:visible;";
    var viewauth = "";
    var extstyle = "style=visibility:visible;";
}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (Model[0].Col133 == "N")
    {
        newstyle = "style=display:none;";
        savestyle = "style=display:none;";
        savenewstyle = "style=display:none;";
    }
    if (Model[0].Col134 == "N") { editstyle = "style=display:none;"; }

    if (Model[0].Col135 == "N")
    {
        viewstyle = "style=display:none;";
        viewauth = "N";
    }

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-2" @newstyle>
                    <div class="form-group">
                        <div class='input-group'>
                            <button type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vnew formnovalidate id="btnnew" name="command" value="New" accesskey="N"><u>N</u>ew</button>
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2' @editstyle>
                    <div class="form-group">
                        <div class='input-group'>
                            <button type="button" class="btn btn-primary form-control sa-button" @ViewBag.vedit id="btnedit" name="command" value="Edit" accesskey="I" onclick="editfun();">Ed<u>i</u>t</button>
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2' @savestyle>
                    <div class="form-group">
                        <div class='input-group'>
                            <button type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vsave id="btnsave" name="command" value="@Model[0].Col13" accesskey='@Model[0].Col121'>@Html.Raw(Model[0].Col122)</button>
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group" @savenewstyle>
                        <div class='input-group'>
                            <button type="submit" class="btn btn-primary form-control sa-button" @ViewBag.vsavenew id="btnsavenew" name="command" value='@Model[0].Col100' accesskey="W">@Html.Raw(Model[0].Col123)</button>
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2' @viewstyle>
                    <div class="form-group">
                        <div class='input-group'>
                            <button type="button" class="btn btn-primary form-control sa-button" id="btndetail" name="command" value="View" accesskey="V" onclick="viewfun();"><u>V</u>iew</button>
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <button type="submit" class="form-control sa-button sa-btncancel" formnovalidate id="btncancel" name="command" value="Cancel" accesskey="C"><u>C</u>ancel</button>
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
         <div class='col-sm-2'>
             <div class='form-group'>
                 <div class='input-group'>
                     <button type='button' class='btn btn-primary form-control sa-button' onclick='printfun();' id='btnprint' name='command' value='Print' accesskey='P'><u>P</u>rint</button>
                     <span class='input-group-addon formclass'></span>
                     </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    for (int i = 0; i < Model.Count; i++)
    {
        <div class=" clearfix"></div>
        @Html.HiddenFor(model => model[i].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[i].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[i].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[i].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[i].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[i].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[i].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[i].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[i].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[i].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[i].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[i].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[i].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[i].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[i].Col15, new { @id = "hf_m_id" })
        @Html.HiddenFor(model => model[i].Col16, new { @id = "hf_vch_num" })
        @Html.HiddenFor(model => model[i].Col100, new { @id = "hf_btnnew" })
        @Html.HiddenFor(model => model[i].Col121, new { @id = "Update" })
        @Html.HiddenFor(model => model[i].Col122, new { @id = "Save" })
        @Html.HiddenFor(model => model[i].Col123, new { @id = "savenew" })

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">


                        <div class="row">
                            @if (tmp.Select("param3='CLIENT NAME'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='CLIENT NAME'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='CLIENT NAME'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='CLIENT NAME'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='CLIENT NAME'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='CLIENT NAME'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col17, new { @id = "clname", @ReadOnly = "true", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " " })
                                            @Html.HiddenFor(model => model[i].Col18, new { @id = "hf_btnview" })
                                            <span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select Account" id="spn_acc" onclick="GETEMP();"><i class="fa fa-search"></i></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='ADDRESS'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='ADDRESS'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='ADDRESS'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='ADDRESS'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='ADDRESS'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='ADDRESS'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col19, new { @id = "addr", @ReadOnly = "true", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " " })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='CONTACT NO.'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='CONTACT NO.'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='CONTACT NO.'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='CONTACT NO.'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='CONTACT NO.'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='CONTACT NO.'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col20, new { @id = "cont", @ReadOnly = "true", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " " })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='SITE ADDRESS TO BE VISITED'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='SITE ADDRESS TO BE VISITED'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='SITE ADDRESS TO BE VISITED'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='SITE ADDRESS TO BE VISITED'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='SITE ADDRESS TO BE VISITED'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='SITE ADDRESS TO BE VISITED'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col21, new { @id = "addtobe", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength="50" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }
                            @if (tmp.Select("param3='DATE OF LOGIN'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='DATE OF LOGIN'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DATE OF LOGIN'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='DATE OF LOGIN'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='DATE OF LOGIN'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DATE OF LOGIN'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col22, new { @id = "dol", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date " + mandatory + " " })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='DATE OF VISIT'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='DATE OF VISIT'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DATE OF VISIT'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='DATE OF VISIT'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='DATE OF VISIT'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DATE OF VISIT'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col23, new { @id = "dovis", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date " + mandatory + " " })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='ARCHITECT IF ANY'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='ARCHITECT IF ANY'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='ARCHITECT IF ANY'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='ARCHITECT IF ANY'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='ARCHITECT IF ANY'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='ARCHITECT IF ANY'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col24, new { @id = "arch", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "20" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='VISITING CHARGES'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='VISITING CHARGES'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='VISITING CHARGES'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='VISITING CHARGES'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='VISITING CHARGES'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='VISITING CHARGES'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col25, new { @id = "vischrg", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "50" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }






                        </div>
                        <div class="row">
                            <h4>For Raw Kitchen</h4>
                        </div>
                        <div class="row">
                            @if (tmp.Select("param3='REFRIGRATOR DETAILING'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='REFRIGRATOR DETAILING'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='REFRIGRATOR DETAILING'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='REFRIGRATOR DETAILING'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='REFRIGRATOR DETAILING'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='REFRIGRATOR DETAILING'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col26, new { @id = "refrg", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "20" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='DISHWASHER DETAILING'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='DISHWASHER DETAILING'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DISHWASHER DETAILING'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='DISHWASHER DETAILING'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='DISHWASHER DETAILING'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DISHWASHER DETAILING'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col27, new { @id = "dishwasher", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "50" })
                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='CYLINDER INSIDE OR OUTSIDE'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='CYLINDER INSIDE OR OUTSIDE'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='CYLINDER INSIDE OR OUTSIDE'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='CYLINDER INSIDE OR OUTSIDE'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='CYLINDER INSIDE OR OUTSIDE'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='CYLINDER INSIDE OR OUTSIDE'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col28, new { @id = "cylinder", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "20" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='SINK DETAILING'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='SINK DETAILING'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='SINK DETAILING'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='SINK DETAILING'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='SINK DETAILING'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='SINK DETAILING'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col29, new { @id = "sink", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "50" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='APPLIANCES DETAILING'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='APPLIANCES DETAILING'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='APPLIANCES DETAILING'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='APPLIANCES DETAILING'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='APPLIANCES DETAILING'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='APPLIANCES DETAILING'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col30, new { @id = "appliance", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "50" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='DIRECTIONS'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='DIRECTIONS'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DIRECTIONS'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='DIRECTIONS'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='DIRECTIONS'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DIRECTIONS'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col31, new { @id = "direction", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "20" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='ELEVATION'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='ELEVATION'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='ELEVATION'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='ELEVATION'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='ELEVATION'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='ELEVATION'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col32, new { @id = "eleve", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "50" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='CEILING HEIGHT'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='CEILING HEIGHT'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='CEILING HEIGHT'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='CEILING HEIGHT'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='CEILING HEIGHT'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='CEILING HEIGHT'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col33, new { @id = "clnthight", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "25" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='REMARKS IF ANY'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='REMARKS IF ANY'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='REMARKS IF ANY'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='REMARKS IF ANY'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='REMARKS IF ANY'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='REMARKS IF ANY'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col34, new { @id = "remk", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "70" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <h4>If Marble Partition Already Done</h4>
                        </div>
                        <div class="row">
                            @if (tmp.Select("param3='GRANITE CLEAR HEIGHT'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='GRANITE CLEAR HEIGHT'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='GRANITE CLEAR HEIGHT'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='GRANITE CLEAR HEIGHT'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='GRANITE CLEAR HEIGHT'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='GRANITE CLEAR HEIGHT'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col35, new { @id = "granite", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "25" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='GROUND PLATFORM HEIGHT'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='GROUND PLATFORM HEIGHT'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='GROUND PLATFORM HEIGHT'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='GROUND PLATFORM HEIGHT'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='GROUND PLATFORM HEIGHT'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='GROUND PLATFORM HEIGHT'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col36, new { @id = "groungplt", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "25" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='ELEVATIONS'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='ELEVATIONS'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='ELEVATIONS'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='ELEVATIONS'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='ELEVATIONS'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='ELEVATIONS'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col37, new { @id = "elevtions", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "25" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='REMARKS IF ANY'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='REMARKS IF ANY'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='REMARKS IF ANY'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='REMARKS IF ANY'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='REMARKS IF ANY'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='REMARKS IF ANY'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col38, new { @id = "remk2", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "70" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <h4>For Office Use Only</h4>
                        </div>

                        <div class="row">
                            @if (tmp.Select("param3='SITE VISIT DONE BY'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='SITE VISIT DONE BY'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='SITE VISIT DONE BY'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='SITE VISIT DONE BY'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='SITE VISIT DONE BY'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='SITE VISIT DONE BY'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col39, new { @id = "donby", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " + mandatory + " ", MaxLength = "25" })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='DATE'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='DATE'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DATE'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='DATE'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='DATE'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='DATE'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col40, new { @id = "date", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date " + mandatory + " " })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (tmp.Select("param3='TIME'")[0]["param2"].ToString() == "Y")
                            {
                                if (tmp.Select("param3='TIME'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='TIME'")[0]["param1"].ToString().Trim().Equals("M"))
                                {
                                    mandatory = "sa-mandatory";
                                }
                                else { mandatory = ""; }
                                <div class="col-sm-4">
                                    <label for="first-name">
                                        @tmp.Select("param3='TIME'")[0]["name"].ToString()
                                        @if (tmp.Select("param3='TIME'")[0]["param1"].ToString().Trim().Equals("Y") || tmp.Select("param3='TIME'")[0]["param1"].ToString().Trim().Equals("M"))

                                        {<span class="ClientProfileLabelColor">*</span>}
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[i].Col41, new { @id = "time", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-ac-time " + mandatory + " " })

                                            <span class="input-group-addon formclass"></span>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    <input type="submit" id="callback1" value="Callback" formnovalidate name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />

}
<script type="text/javascript">
          $(document).ready(function () {
        @Html.Raw(ViewBag.scripCall);
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
          $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
    });

    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() { var data = show_Foo('View Detail', 'VIEW', '0', '@viewName', '@controllerName'); }
    function GETEMP() { var data = show_Foo('List Of Clients', 'CLIENT', '1', '@viewName', '@controllerName'); }
    function printfun() {  var data =show_Foo('Select Report Form Type', 'PRINTMSG', '1', '@viewName', '@controllerName'); }
</script>

