

@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    /**/

    string MyGuid = Model[0].Col15;
    sgenFun sgen = new sgenFun(MyGuid);
    string userCode = sgen.GetCookie(MyGuid, "userCode");

    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
    Layout = "~/Views/Shared/_MasterPage.cshtml";


}

@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">

                        <h4 class="text-primary"><b>CONVERT LEAD</b></h4>
                    </div>

                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>

    </div>
    @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
    @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
    @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
    @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
    @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
    @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
    @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
    @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })
    @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
    @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
    @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
    @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
    @Html.HiddenFor(model => model[0].Col24, new { @id = "hf_lead_id" })
    @Html.HiddenFor(model => model[0].Col25, new { @id = "hf_accountid" })
    @Html.HiddenFor(model => model[0].Col26, new { @id = "hf_contact_id" })
    @Html.HiddenFor(model => model[0].Col27, new { @id = "hf_leadurl" })

    @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding: 3px 15px !important">
                <div class="x_title" style="padding: 0px !important; border-bottom: 0px !important">
                    <h3><b>Account</b></h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a id="ahide1" class="a_panel" onclick="hide(this);"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class='col-sm-12'>

                                <div class="form-group">
                                    <div class='input-group demo2'>

                                        @Html.RadioButtonFor(model => model[0].Col17, "0", new { @id = "Rbt_accnew", @class = "sa-input radio sa-mandatory", @onclick = "Radio_Click(this)", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                        <b style="margin-left:5px">Create New </b>
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>




                    <div class="col-sm-5">
                        <div class="row">
                            <div class='col-sm-12'>

                                <div class="form-group">
                                    <div class='input-group demo2'>

                                        @Html.RadioButtonFor(model => model[0].Col17, "1", new { @id = "Rbt_accext", @class = "sa-input radio sa-mandatory", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })

                                        <b style="margin-left:5px">Choose Existing </b>
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class='col-sm-12'>
                                <label for="first-name">Account Search</label>
                                <div class="form-group ">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col18, new { @id = "txt_acc", @ReadOnly = "True", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " })
                                        <span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select Account" clientidmode="static" id="spn_add" onclick="PARTY(this);"><i class="fa fa-search"></i></span>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding: 3px 15px !important">
                <div class="x_title" style="padding: 0px !important; border-bottom: 0px !important">
                    <h3><b>Contact</b></h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a id="ahide1" class="a_panel" onclick="hide(this);"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="kc x_content">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class='col-sm-12'>

                                <div class="form-group">
                                    <div class='input-group demo2'>

                                        @Html.RadioButtonFor(model => model[0].Col19, "0", new { @id = "Rbt_contactnew", @class = "sa-input radio sa-mandatory", @onclick = "Radio_Click(this)", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                        <b style="margin-left:5px">Create New </b>
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="col-sm-5">
                        <div class="row">
                            <div class='col-sm-12'>

                                <div class="form-group">
                                    <div class='input-group demo2'>

                                        @Html.RadioButtonFor(model => model[0].Col19, "1", new { @id = "Rbt_contactext", @class = "sa-input radio sa-mandatory", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })

                                        <b style="margin-left:5px">Choose Existing </b>
                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class='col-sm-12'>
                                @*<label for="first-name">Account Search</label>*@
                                <div class="form-group ">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col20, new { @id = "txt_cnt", @ReadOnly = "True", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " })
                                        <span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select Contact" clientidmode="static" id="spn_add" onclick="CONTACT(this);"><i class="fa fa-search"></i></span>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            </div>
        </div>

        @*<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 3px 15px !important">
                    <div class="x_title" style="padding: 0px !important; border-bottom: 0px !important">
                        <h3><b>Opportunity</b></h3>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a id="ahide1" class="a_panel" onclick="hide(this);"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>

                    <div class="kc x_content">
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class='col-sm-12'>

                                    <div class="form-group">
                                        <div class='input-group demo2'>

                                            @Html.RadioButtonFor(model => model[0].Col21, "0", new { @id = "Rbt_accnew", @class = "sa-input radio sa-mandatory", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })
                                            <b style="margin-left:5px">Create New </b>
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-5">
                            <div class="row">
                                <div class='col-sm-12'>

                                    <div class="form-group">
                                        <div class='input-group demo2'>

                                            @Html.RadioButtonFor(model => model[0].Col21, "1", new { @id = "Rbt_accext", @class = "sa-input radio sa-mandatory", @style = "vertical-align:initial;min-height:0px;margin:0px;padding-top: 0px;" })

                                            <b style="margin-left:5px">Choose Existing </b>
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class='col-sm-12'>

                                    <div class="form-group ">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].Col22, new { @id = "txt_acc", @ReadOnly = "True", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " })
                                            <span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Select Account" clientidmode="static" id="spn_add" onclick="selectAcc(this);"><i class="fa fa-search"></i></span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <br />
            <hr />
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class='col-sm-5'>
                        <div class="col-sm-8">
                            <label for="first-name">Record Owner <span class="ClientProfileLabelColor"></span></label>

                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.DropDownListFor(model => model[0].SelectedItems1, new MultiSelectList(Model[0].TList1, "Value", "Text", Model[0].SelectedItems1), new { @id = "ddl_oner", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "20", multiple = "multiple", @style = "width:100%" })

                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-5'>
                        <div class="col-sm-8">
                            <label for="first-name">Converted Status <span class="ClientProfileLabelColor"></span></label>
                            <div class="form-group">
                                <div class='input-group'>
                                    @Html.TextBoxFor(model => model[0].Col23, new { @id = "txt_st", @ReadOnly = "True", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox " })


                                    <span class="input-group-addon formclass"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="row">
            <div class='col-sm-2' style="float:right">
                <div class="form-group">
                    <div class='input-group'>
                        <input type="submit" class="btn btn-success form-control" style="border-radius: 10px!important;" id="btn_convert" name="command" value="convert" />
                        <span class="input-group-addon formclass"></span>
                    </div>
                </div>
            </div>
            <div class='col-sm-2' style="float:right">
                <div class="form-group">
                    <div class='input-group'>
                        <button type="submit" class="sa-btncancel form-control " formnovalidate style="border-radius: 10px!important;" onclick="cancelfun();" id="Btn_Cancel" name="command" value="Cancel">Cancel</button>
                        <span class="input-group-addon formclass"></span>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <input type="submit" id="callback1" formnovalidate value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />

}


<script>

            $(document).ready(function () {
                //debugger;
      @Html.Raw(ViewBag.scripCall);
        $("[id=divdetails]").click();
        $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
        $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');
                var chks = $("[type=checkbox]");
                for (var l = 0; l < chks.length; l++) {

                    try {
                        hide1(chks[l].parentElement.parentElement.children[1].children[0].children[0], chks[l].checked);
                    } catch (err) { }
                }
                if (!isPostBack()) {
                    $(".fa-chevron-up").addClass('fa-chevron-down');
                    $(".fa-chevron-up").removeClass('fa-chevron-up');
                    $('.kc').hide();
                }
                else {
                    var kcs = $('.kc');
                    for (var l = 0; l < kcs.length; l++) {
                        if ($(".kc")[l].parentElement.children[0].children[1].children[0].children[0].children[0].classList.contains('fa-chevron-up')) {
                            $(".kc")[l].style.display = "none";
                            $(".kc")[l].classList.remove = "fa-chevron-up";
                            $(".kc")[l].classList.add = "fa-chevron-down";
                        }
                    }
                }
            });
            function hide(ctrl) {
                if (ctrl.children[0].classList.contains('fa-chevron-up')) {
                    $(ctrl.children[0]).removeClass('fa-chevron-up');
                    $(ctrl.children[0]).addClass('fa-chevron-down');
                    ctrl.closest("div").parentElement.children[1].style.display = 'none';

                }
                else {
                    $(ctrl.children[0]).removeClass('fa-chevron-down');
                    $(ctrl.children[0]).addClass('fa-chevron-up');
                    ctrl.closest("div").parentElement.children[1].style.display = 'block';
                }

            }
            function hide1(ctrl, check) {

                if (check) {
                    $(ctrl.children[0]).removeClass('fa-chevron-down');
                    $(ctrl.children[0]).addClass('fa-chevron-up');
                    ctrl.closest("div").parentElement.children[1].style.display = 'block';

                }
                else {

                    $(ctrl.children[0]).removeClass('fa-chevron-up');
                    $(ctrl.children[0]).addClass('fa-chevron-down');
                    ctrl.closest("div").parentElement.children[1].style.display = 'none';
                }
            }

             function PARTY() { var data = show_Foo('Select Account', 'PARTY', '1', '@viewName', '@controllerName'); }
    function CONTACT() { var data = show_Foo('Select Contact Person', 'CONTACT', '1', '@viewName', '@controllerName'); }

    function Radio_Click(myctrl) {
        //debugger;

        if ((myctrl.value == 0) && (myctrl.id == "Rbt_accnew")) {
            var url = "/purchase/party?m_id=@EncryptDecrypt.Encrypt(@MyGuid)&mid=@EncryptDecrypt.Encrypt("40002.1")&fstr=@EncryptDecrypt.Encrypt(Model[0].Col24)  " ;
            window.location.href = url;
        }

        if ((myctrl.value == 0) && (myctrl.id == "Rbt_contactnew")) {
            var url = "/purchase/party?m_id=@EncryptDecrypt.Encrypt(@MyGuid)&mid=@EncryptDecrypt.Encrypt("40002.1")&leadid=@EncryptDecrypt.Encrypt(Model[0].Col24)&fstr=@EncryptDecrypt.Encrypt(Model[0].Col27)" ;
            window.location.href = url;
        }

    }
</script>
