@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string MyGuid = Model[0].Col15;
    sgenFun sgen = new sgenFun(MyGuid);
    string userCode = sgen.GetCookie(MyGuid, "userCode");

    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3 id="hd_title">@Model[0].Col9</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class='col-sm-2'>
                <div class="form-group">
                    <div class='input-group'>

                        <button type='submit' class='btn btn-primary form-control sa-button' id='btnsave' name='command' value='Update' accesskey='U'><u>U</u>pdate</button>
                        <span class="input-group-addon formclass"></span>
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class="form-group">
                    <div class='input-group'>
                        <button type='submit' class='btn btn-primary form-control sa-button' formnovalidate id='btn_new' name='command' value='New' accesskey='N'><u>N</u>ew Lead</button>
                        <span class="input-group-addon formclass"></span>
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class="form-group">
                    <div class='input-group'>
                        <button type='submit' class='btn btn-primary btn-sm" sa-button' formnovalidate value='Search' name='command' id="btn" accesskey='H'>Searc<u>h</u></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="overflow:scroll">
        <div class="row" style="width:200%">
            <div class="col-md-12 col-sm-12 col-xs-12 smt">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;background-color:lightgray">
                    <div class="x_content">
                        <div class="row">
                            <div class='col-sm-2'>
                                <div class='col-sm-2'>

                                </div>
                                <div class='col-sm-5'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].Col30, new { @id = "s_ldno", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-5'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].Col31, new { @id = "s_lddt", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date", @onkeydown = "return checkLength(this, 28,event);" })
                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-2'>
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].Col29, new { @id = "s_acc", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].Col32, new { @id = "s_pro", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-1'>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col33, new { @id = "s_ph", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })

                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-1'>
                                <div class="form-group">
                                    <div class='input-group'>
                                        @Html.TextBoxFor(model => model[0].Col34, new { @id = "s_nxtdt", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-date", @onkeydown = "return checkLength(this, 28,event);" })

                                        <span class="input-group-addon formclass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-6'>
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].Col35, new { @id = "s_LDSOURCE", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DropDownListFor(model => model[0].SelectedItems3, new MultiSelectList(Model[0].TList3, "Value", "Text", Model[0].SelectedItems3), new { @id = "ddl_st", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "20", @multiple = "multiple" })


                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DropDownListFor(model => model[0].SelectedItems4, new MultiSelectList(Model[0].TList4, "Value", "Text", Model[0].SelectedItems4), new { @id = "ddl4", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "20", @multiple = "multiple" })


                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.DropDownListFor(model => model[0].SelectedItems6, new MultiSelectList(Model[0].TList6, "Value", "Text", Model[0].SelectedItems6), new { @id = "ddl", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "20", @multiple = "multiple" })


                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="width:200%">
            <div class="col-md-12 col-sm-12 col-xs-12 smt">
                <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;background-color:lightgray">
                    <div class="x_content">
                        <div class="row">
                            <div class='col-sm-2'>
                                <div class='col-sm-2'> <label>S.No.</label> </div>
                                <div class='col-sm-5'><label for="first-name">Lead No. </label></div>
                                <div class='col-sm-5'><label for="first-name">Date Of Visit </label></div>
                            </div>
                            <div class='col-sm-2'>
                                <div class='col-sm-6'><label for="first-name">Organisation Name</label></div>
                                <div class='col-sm-6'><label for="first-name">Type Of Function</label></div>
                            </div>
                            <div class='col-sm-1'><label for="first-name">Mobile No.</label></div>
                            <div class='col-sm-1'><label for="first-name">Next Follow Up Date</label></div>
                            <div class='col-sm-6'>
                                <div class='col-sm-3'><label for="first-name">Lead Source</label></div>
                                <div class='col-sm-3'><label for="first-name">Lead Status</label></div>
                                <div class='col-sm-3'><label for="first-name">Who Attended</label></div>
                                <div class='col-sm-3'><label for="first-name">Assigned To</label></div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
        @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
        @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
        @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
        @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
        @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
        @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
        @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })
        @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
        @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
        @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
        @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
        @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
        @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
        @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
        @Html.HiddenFor(model => model[0].Col40, new { @id = "hf_btnshow" })
        @Html.HiddenFor(model => model[0].Col41, new { @id = "hf_str" })
        @Html.HiddenFor(model => model[0].Col42, new { @id = "hf_totcnt" })
        @Html.HiddenFor(model => model[0].Col43, new { @id = "hf_loadcnt" })


        @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })

        @for (int i = 0; i < Model.Count; i++)
        {
            if (Model[i].Col16 != null)
            {
                <div class="row" style="width:200%">
                    <div class="col-md-12 col-sm-12 col-xs-12 smt">
                        <div class="x_panel" style="padding: 0px 15px !important;margin-bottom:0px !important;">
                            <div class="x_content">

                                <div id="Atten_@i" class="row table-responsive">
                                    <div class='col-sm-2'>
                                        <div class='col-sm-2'>
                                            <label for="first-name">@(i + 1)</label>
                                            <div class="form-group has-success">
                                                <div class='input-group'>
                                                    <span class="input-group-addon formclass"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-5'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <div class=" clearfix"></div>
                                                    @*<a id="ld" href="@Url.Action("lead","vastu",new { @mid="41005.1"})"  onclick="check();">*@
                                                    <a id="ld" href="@Url.RouteUrl(new { Controller = controllerName, Action = "lead_detail", mid = EncryptDecrypt.Encrypt("41005.1"), m_id = EncryptDecrypt.Encrypt(Model[0].Col15), fstr = EncryptDecrypt.Encrypt(Model[i].Col16) })">
                                                        @Html.DisplayFor(model => model[i].Col17, new { @id = "leadno", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })
                                                    </a>
                                                    @Html.HiddenFor(model => model[i].Col16, new { @id = "hf_fstr_" + i })
                                                    @Html.HiddenFor(model => model[i].Col17, new { @id = "leadno_" + i })

                                                    <span class="input-group-addon formclass">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-5'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <div class=" clearfix"></div>
                                                    @Html.DisplayFor(model => model[i].Col18, new { @id = "leaddt_" + i, @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })
                                                    @Html.HiddenFor(model => model[i].Col18, new { @id = "leaddt_" + i })

                                                    <span class="input-group-addon formclass"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='col-sm-6'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    @Html.DisplayFor(model => model[i].Col19, new { @id = "customer_" + i, @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })
                                                    @Html.HiddenFor(model => model[i].Col20, new { @id = "hf_custid_" + i })
                                                    @*@Html.HiddenFor(model => model[i].Col21, new { @id = "hf_remark_" + i })
                                                        @Html.HiddenFor(model => model[i].Col22, new { @id = "hf_refered_by_" + i })
                                                        @Html.HiddenFor(model => model[i].Col23, new { @id = "hf_ct_person_" + i })
                                                        @Html.HiddenFor(model => model[i].Col24, new { @id = "hf_ot_source_" + i })*@
                                                    @Html.HiddenFor(model => model[i].Col19, new { @id = "customer_" + i })
                                                    @*<span class="input-group-addon formclass"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-6'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <div class=" clearfix"></div>
                                                    @Html.DisplayFor(model => model[i].Col28, new { @id = "product_" + i, @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })
                                                    @Html.HiddenFor(model => model[i].Col28, new { @id = "product_" + i })
                                                    @*<span class="input-group-addon formclass"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-1'>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <div class=" clearfix"></div>
                                                @Html.DisplayFor(model => model[i].Col25, new { @id = "ph_" + i, @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })
                                                @Html.HiddenFor(model => model[i].Col18, new { @id = "leaddt_" + i })

                                                @*<span class="input-group-addon formclass"></span>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-1'>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <div class=" clearfix"></div>
                                                @Html.DisplayFor(model => model[i].Col26, new { @id = "nx_fll_dt_" + i, @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })
                                                @Html.HiddenFor(model => model[i].Col26, new { @id = "nx_fll_dt_" + i })


                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-6'>
                                        <div class='col-sm-3'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    @Html.DisplayFor(model => model[i].Col24, new { @id = "ld_source" + i, @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @onkeydown = "return checkLength(this, 28,event);" })

                                                    @Html.HiddenFor(model => model[i].Col24, new { @id = "hf_ot_source_" + i })


                                                    <div class=" clearfix"></div>
                                                    <span class="input-group-addon formclass"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-3'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    @Html.DropDownListFor(model => model[i].SelectedItems1, new MultiSelectList(Model[i].TList1, "Value", "Text", Model[i].SelectedItems1), new { @id = "ddl_sta_" + i, @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "20", @multiple = "multiple" })


                                                    <div class=" clearfix"></div>
                                                    <span class="input-group-addon formclass"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-3'>
                                            <div class="form-group">
                                                <div class='input-group'>

                                                    @Html.DropDownListFor(model => model[i].SelectedItems2, new MultiSelectList(Model[i].TList2, "Value", "Text", Model[i].SelectedItems2), new { @id = "ddl_sow_" + i, @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "20", @multiple = "multiple" })

                                                    <div class=" clearfix"></div>

                                                    <span class="input-group-addon formclass"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-3'>
                                            <div class="form-group">
                                                <div class='input-group'>

                                                    @Html.DropDownListFor(model => model[i].SelectedItems5, new MultiSelectList(Model[i].TList5, "Value", "Text", Model[i].SelectedItems5), new { @id = "ddl_assing_" + i, @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "20", @multiple = "multiple" })

                                                    <div class=" clearfix"></div>

                                                    <span class="input-group-addon formclass"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        @if (Model[0].Col40 == "Y")
        {
            <div class="row">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type="submit" class="btn btn-success form-control sa-button" id="btngetdt" name="command" value="Load More Data" />
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <input type="submit" id="callback1" formnovalidate value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}

<script type='text/javascript'>

              $(document).ready(function () {
            @Html.Raw(ViewBag.scripCall);
            $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
                  $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');


            function check() {
                //debugger;
                    var hf_fstr = $("#hf_fstr")[0].value;
                //Session["lead_fstr"] = hf_fstr;
                //'<%Session["lead_fstr"] = "' + hf_fstr + '"; %>';
                sessionStorage.SessionName = "lead_fstr";
                sessionStorage.setItem("lead_fstr", hf_fstr);
                    }

              });

</script>
