@using System.Data;
@model IList<skyinfyMVC.Models.Tmodelmain>
@{
    string MyGuid = "";
    MyGuid = Model[0].Col15;
    sgenFun sgen;
    sgen = new sgenFun(MyGuid);
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var viewName = sgen.GetSession(MyGuid, "viewName").ToString();
    var controllerName = sgen.GetSession(MyGuid, "controllerName").ToString();
    #region Buttons
    var newstyle = "style=visibility:visible;";
    var editstyle = "style=visibility:visible;";
    var savestyle = "style=visibility:visible;";
    var savenewstyle = "style=visibility:visible;";
    var viewstyle = "style=visibility:visible;";
    var viewauth = "";
    var extstyle = "style=visibility:visible;";
    if (Model[0].Col101 != null && Model[0].Col101.ToString() == "0")
    {
        editstyle = "style=display:none;";
    }
    string buttons = "";
    buttons += "<div class='col-md-8'>" +
"        <div class='row'>" +
"            <div class='col-sm-2' " + newstyle + ">" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vnew + " formnovalidate id='btn_new' name='command' value='New' accesskey='N'><u>N</u>ew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' " + editstyle + " > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' " + ViewBag.vedit + " id='btnedit' name='command' value='Edit' accesskey='I' onclick='editfun();'>Ed<u>i</u>t</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' " + savestyle + " > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsave + " id='btnsave' name='command' value= '" + Model[0].Col13 + "' accesskey = '" + Model[0].Col121 + "' > " + Html.Raw(Model[0].Col122) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group' " + savenewstyle + " > " +
"                    <div class='input-group'>" +
"                        <button type='submit' class='btn btn-primary form-control sa-button' " + ViewBag.vsavenew + " id='btnsavenew'  name='command' value= '" + Model[0].Col100 + "' accesskey ='W'> " + Html.Raw(Model[0].Col123) + "</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2' " + viewstyle + " > " +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='button' class='btn btn-primary form-control sa-button' id='btndetail' name='command' value='View' accesskey='V' onclick='viewfun();'><u>V</u>iew</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"            <div class='col-sm-2'>" +
"                <div class='form-group'>" +
"                    <div class='input-group'>" +
"                        <button type='submit' class='form-control sa-button sa-btncancel' formnovalidate id='btncancel' name='command' value='Cancel' accesskey='C'><u>C</u>ancel</button>" +
"                        <span class='input-group-addon formclass'></span>" +
"                    </div>" +
"                </div>" +
"            </div>" +
"        </div>" +
"    </div>";
    #endregion
}

@using (Html.BeginForm(viewName, controllerName, new { @m_id = EncryptDecrypt.Encrypt(Model[0].Col15), @mid = EncryptDecrypt.Encrypt(Model[0].Col14), @smst = Model[0].Col101 }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class='input-group'>
                    <div class="title_left">
                        <h3>@Model[0].Col9</h3>
                    </div>
                    <span class="input-group-addon formclass"></span>
                </div>
            </div>
        </div>

        @Html.Raw(buttons)


    </div>
    <div class="clearfix"></div>
    @Html.HiddenFor(model => model[0].Col1, new { @id = "hf_clientid" })
    @Html.HiddenFor(model => model[0].Col2, new { @id = "hf_clientunitid" })
    @Html.HiddenFor(model => model[0].Col3, new { @id = "hf_entby" })
    @Html.HiddenFor(model => model[0].Col4, new { @id = "hf_entdate" })
    @Html.HiddenFor(model => model[0].Col5, new { @id = "hf_editby" })
    @Html.HiddenFor(model => model[0].Col6, new { @id = "hf_editdate" })
    @Html.HiddenFor(model => model[0].Col7, new { @id = "hf_recid" })
    @Html.HiddenFor(model => model[0].Col8, new { @id = "hf_url" })
    @Html.HiddenFor(model => model[0].Col9, new { @id = "hf_title" })
    @Html.HiddenFor(model => model[0].Col10, new { @id = "hf_tab_name" })
    @Html.HiddenFor(model => model[0].Col11, new { @id = "hf_where" })
    @Html.HiddenFor(model => model[0].Col12, new { @id = "hf_type" })
    @Html.HiddenFor(model => model[0].Col13, new { @id = "hf_btn_text" })
    @Html.HiddenFor(model => model[0].Col14, new { @id = "hf_mid" })
    @Html.HiddenFor(model => model[0].Col15, new { @id = "hf_m_id" })
    @Html.HiddenFor(model => model[0].Col16, new { @id = "hf_vch_num" })
    @Html.HiddenFor(model => model[0].Col100, new { @id = "hf_savenew" })
    @Html.HiddenFor(model => model[0].Col121, new { @id = "Update" })
    @Html.HiddenFor(model => model[0].Col122, new { @id = "Save" })
    @Html.HiddenFor(model => model[0].Col123, new { @id = "savenew" })
    @Html.HiddenFor(model => model[0].Col55, new { @id = "hf_btnnew" })
    @Html.HiddenFor(model => model[0].Col56, new { @id = "hf_btnedit" })
    @Html.HiddenFor(model => model[0].Col57, new { @id = "hf_btnview" })
    @Html.HiddenFor(model => model[0].Col131, new { @id = "hf_btnview" })
    @Html.HiddenFor(model => model[0].Col91, new { @id = "hf_btnview" })
    @Html.HiddenFor(model => model[0].Col85, new { @id = "hf_ctfstr" })
    @Html.HiddenFor(model => model[0].Col101, new { @id = "hf_smst" })
    @Html.HiddenFor(model => model[0].Col102, new { @id = "issaved" })

    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row" id="GIdt">
                <h4>General Details</h4>
            </div>
            <div class="row">
                <div class="col-sm-4 ">
                    <label for="first-name">Organisation Name <span class="ClientProfileLabelColor">*</span></label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col17, new { @id = "org_name", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @MaxLength = "48" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <label for="first-name">Organisation Email Id <span class="ClientProfileLabelColor">*</span></label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col18, new { @id = "org_email", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-email sa-mandatory", @MaxLength = "98" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="first-name">
                        Organisation Phone No. <span class="ClientProfileLabelColor">*</span>
                    </label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col19, new { @id = "org_ph", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mobile sa-mandatory", @MaxLength = "15" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="first-name">
                        Organisation Mobile No. <span class="ClientProfileLabelColor">*</span>
                    </label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col20, new { @id = "org_mb", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mobile sa-mandatory", @MaxLength = "15" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="first-name">Website <span class="ClientProfileLabelColor">*</span></label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col22, new { @id = "website", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @MaxLength = "98" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <label for="first-name">Country <span class="ClientProfileLabelColor">*</span></label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.DropDownListFor(model => model[0].SelectedItems1, new MultiSelectList(Model[0].TList1, "Value", "Text", Model[0].SelectedItems1), new { @id = "ddl_country", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @MaxLength = "20", multiple = "multiple", @style = "width:100%" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">
                    <label for="first-name">State <span class="ClientProfileLabelColor">*</span></label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.DropDownListFor(model => model[0].SelectedItems2, new MultiSelectList(Model[0].TList2, "Value", "Text", Model[0].SelectedItems2), new { @id = "ddl_state", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @MaxLength = "20", multiple = "multiple", @style = "width:100%" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="first-name">City <span class="ClientProfileLabelColor">*</span></label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col23, new { @id = "city", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @MaxLength = "98" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-4">
                    <label for="first-name">GSTIN No.</label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextBoxFor(model => model[0].Col24, new { @id = "txt_gstinno", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-gstno", @MaxLength = "16" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="first-name">Category </label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.DropDownListFor(model => model[0].SelectedItems3, new MultiSelectList(Model[0].TList3, "Value", "Text", Model[0].SelectedItems3), new { @id = "ddl_cat", @class = "sa-select2-single form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @MaxLength = "20", multiple = "multiple", @style = "width:100%" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="first-name">Organisation Address <span class="ClientProfileLabelColor">*</span></label>
                    <div class="form-group">
                        <div class='input-group'>
                            @Html.TextAreaFor(model => model[0].Col21, new { @id = "address", @class = "form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mandatory", @MaxLength = "248" })
                            <span class="input-group-addon formclass"></span>
                        </div>
                    </div>
                </div>                
            </div>

            <hr />
            <div class="row" id="GIdt">
                <h4>Contact Person Details</h4>
            </div>
            @for (int k = 0; k < Model[0].LTM2.Count; k++)
            {
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.HiddenFor(m => m[0].LTM2[k].Col1)
                    <div class="x_panel" style="padding: 3px 15px !important">
                        <div class="x_title" style="padding: 0px !important">
                            <!-- tools box -->
                            <ul class="nav navbar-right panel_toolbox">
                                <li><input name="command" onclick="sethfval('@k');" type="submit" value="Add" class="fa fa-plus" formnovalidate data-toggle="tooltip" title="Add More" /> </li>
                                <li><input name="command" onclick="sethfval('@k');" type="submit" value="Remove" class="fa fa-close" formnovalidate data-toggle="tooltip" title="Remove" /> </li>
                            </ul>
                            <div class="clearfix" id="diclear"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-4 ">
                                    <label for="first-name">
                                        First Name<span class="ClientProfileLabelColor"></span>
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].LTM2[k].Col2, new { @id = "f_name", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "48" })
                                            @Html.HiddenFor(model => model[0].LTM2[k].Col2, new { @id = "hf_con_rec", @MaxLength = "48", placeholder = "Name" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <label for="first-name">
                                        Last Name<span class="ClientProfileLabelColor"></span>
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].LTM2[k].Col3, new { @id = "f_name", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox", @MaxLength = "48" })
                                            @Html.HiddenFor(model => model[0].LTM2[k].Col3, new { @id = "hf_con_rec", @MaxLength = "48", placeholder = "Name" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <label for="first-name">
                                        Email Id<span class="ClientProfileLabelColor"></span>
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].LTM2[k].Col4, new { @id = "cp_email", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-email", @MaxLength = "98" })
                                            @Html.HiddenFor(model => model[0].LTM2[k].Col4, new { @id = "hf_con_rec", @MaxLength = "48", placeholder = "Name" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <label for="first-name">
                                        Mobile No.<span class="ClientProfileLabelColor"></span>
                                    </label>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model[0].LTM2[k].Col5, new { @id = "cp_ph", @class = " form-control col-md-12 col-sm-12 col-xs-12 sa-textbox sa-mobile", @MaxLength = "15" })
                                            @Html.HiddenFor(model => model[0].LTM2[k].Col5, new { @id = "hf_con_rec", @MaxLength = "48", placeholder = "Name" })

                                            <span class="input-group-addon formclass"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <input type="submit" id="callback1" formnovalidate value="Callback" name="Command" title="callback" style="visibility:hidden" class="btn btn-primary" />
}
<script type="text/javascript">
     $(document).ready(function () {
            @Html.Raw(ViewBag.scripCall);
         $("[id*=hf_controller]").val('@ViewContext.RouteData.Values["Controller"].ToString()');
         $("[id*=hf_viewname]").val('@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))');

         if ($("#hf_smst")[0].value == "0" && $("#issaved")[0].value == "saved") {
             var form = parent.$.find('form')[1];
             $("input[name='Command']", form)[2].click();
             parent.$.colorbox.close();
         }
         if ($("#hf_smst")[0].value == "0") {
             var cnt = $(".main_container").parents().find("#cboxContent").length;
             if (parseInt(cnt) > 0) {
                 //$(".left_col").hide();
                 //$(".top_nav").hide();
                 $(".main_container").css("margin-top", "40px");
                 $(".right_col")[0].classList.remove("right_col")
             }
         }

    });

    function editfun() { var data = show_Foo('Select Entry For Edit', 'EDIT', '1', '@viewName', '@controllerName'); }
    function viewfun() {
        if ('@viewauth' == "N") {
            showmsgJS(1, "You dont have permission for view , please contact your admin", 2);
            return;
        }
        var data = show_Foo('View Detail', 'VIEW', '0', '@viewName', '@controllerName');
    }

    function sethfval(val) { $("#hfrow").val(val); }

</script>